Repository ceva24/havenplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, ci, dependencies

ci: run visual tests independently from cypress
  .github/workflows/e2e-test.yml
  .github/workflows/visual-test.yml
  cypress/integration/index.test.tsx
  package-lock.json
  package.json
  percy.json
Labels: test, ci, dependencies

ci: checkout submodules when running visual tests
  .github/workflows/visual-test.yml
Labels: ci

ci: run visual tests independently from cypress (#78)
  .github/workflows/e2e-test.yml
  .github/workflows/visual-test.yml
  cypress/integration/index.test.tsx
  package-lock.json
  package.json
  percy.json
Labels: test, ci, dependencies

feat: remove title from share link modal
  src/components/share-link-modal.tsx
  src/styles/theme.tsx
Labels: source

fix: url encode character data string representations
  src/__tests__/services/codec.test.ts
  src/services/codec.ts
Labels: test, source

feat: only regenerate the shareable character link when the character data has changed
  src/components/share-link-button.tsx
Labels: source

feat: only regenerate shareable links when the character data has changed
  src/components/share-link-button.tsx
  src/components/share-link-modal.tsx
Labels: source

feat: update shareable link button colors
  src/components/share-link-button.tsx
  src/components/share-link-modal.tsx
Labels: source

style: change order of state variables in share link button
  src/components/share-link-button.tsx
Labels: source

feat: add ability to copy shareable link to clipboard
  src/components/copy-link-button.tsx
  src/components/share-link-modal.tsx
Labels: source

refactor: convert share link modal to dialog
  src/components/share-link-button.tsx
  src/components/share-link-dialog.tsx
  src/components/share-link-modal.tsx
Labels: source

feat: add accessible properties to share link dialog
  src/components/share-link-dialog.tsx
Labels: source

test: add unit tests for share link dialog
  src/__tests__/components/share-link-dialog.test.tsx
Labels: test, source

chore: update share link dialog test variable names
  src/__tests__/components/share-link-dialog.test.tsx
Labels: test, source

test: add copy link button unit tests
  src/__tests__/components/copy-link-button.test.tsx
  src/components/copy-link-button.tsx
Labels: test, source

feat: hide label from shareable link input
  src/components/share-link-dialog.tsx
Labels: source

test: add share link button unit tests
  package-lock.json
  package.json
  src/__tests__/components/share-link-button.test.tsx
  src/components/share-link-button.tsx
  src/setup-jest.js
Labels: test, source, dependencies

test: add cypress tests for shareable links
  cypress/integration/share-link.test.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
Labels: test

feat: add shareable links for characters (#80)
  cypress/integration/share-link.test.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  package-lock.json
  package.json
  src/__tests__/components/copy-link-button.test.tsx
  src/__tests__/components/share-link-button.test.tsx
  src/__tests__/components/share-link-dialog.test.tsx
  src/__tests__/services/codec.test.ts
  src/components/character-details.tsx
  src/components/copy-link-button.tsx
  src/components/share-link-button.tsx
  src/components/share-link-dialog.tsx
  src/pages/api/encode-character.ts
  src/services/codec.ts
  src/services/serializer.ts
  src/setup-jest.js
  src/types/types.d.ts
Labels: test, source, dependencies

chore: remove eslint warning for url replacement use effect
  src/pages/index.tsx
Labels: source

refactor: set a secondary color in the theme
  src/components/copy-link-button.tsx
  src/components/share-link-button.tsx
  src/components/share-link-dialog.tsx
  src/styles/theme.tsx
Labels: source

feat: add tabbed panel to index page
  src/pages/index.tsx
Labels: source

fix: resolve issue with semantically invalid html under tab panels
  src/pages/index.tsx
Labels: source

refactor: split components folder into subfolders
  src/__tests__/components/copy-link-button.test.tsx
  src/__tests__/components/profile/character-details.test.tsx
  src/__tests__/components/profile/character-mat.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/share-link-dialog.test.tsx
  src/__tests__/components/share/copy-button.test.tsx
  src/__tests__/components/share/share-button.test.tsx
  src/__tests__/components/share/share-dialog.test.tsx
  src/components/profile/character-details.tsx
  src/components/profile/character-mat.tsx
  src/components/profile/class-select.tsx
  src/components/share/copy-button.tsx
  src/components/share/share-button.tsx
  src/components/share/share-dialog.tsx
  src/pages/index.tsx
Labels: test, source

refactor: move profile tab contents to separate component
  src/__tests__/components/profile.test.tsx
  src/__tests__/pages/index.test.tsx
  src/components/profile.tsx
  src/pages/index.tsx
Labels: test, source

refactor: move tabbed content to a separate component and remove character classes prop
  cypress/integration/character-mat.test.tsx
  cypress/integration/index.test.tsx
  cypress/integration/profile.test.tsx
  cypress/integration/share.test.tsx
  cypress/support/commands.ts
  src/__tests__/components/profile.test.tsx
  src/__tests__/components/profile/character-details.test.tsx
  src/__tests__/components/profile/character-mat.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/tabbed-context.test.tsx
  src/__tests__/pages/index.test.tsx
  src/components/profile.tsx
  src/components/profile/character-details.tsx
  src/components/profile/class-select.tsx
  src/components/tabbed-content.tsx
  src/pages/index.tsx
Labels: test, source

feat: make character details notes field a static 6 rows
  src/components/profile/character-details.tsx
Labels: source

fix: click on a valid non-hidden element to hide share dialog in cypress test
  cypress/integration/share.test.tsx
Labels: test

style: rename cypress tests
  cypress/integration/index.spec.tsx
  cypress/integration/profile.spec.tsx
  cypress/integration/share.spec.tsx
Labels: test

feat: move the share button to below the tabbed content
  cypress/integration/index.spec.tsx
  src/__tests__/pages/index.test.tsx
  src/components/profile/character-details.tsx
  src/pages/index.tsx
Labels: test, source

chore: update all dependencies
  package-lock.json
  package.json
Labels: dependencies

chore: update all dependencies (#94)
  package-lock.json
  package.json
Labels: dependencies

chore: migrate to cypress 10
  cypress.config.ts
  cypress.json
  cypress/e2e/character-details.test.tsx
  cypress/e2e/character-mat.test.tsx
  cypress/e2e/index.test.tsx
  cypress/e2e/share-link.test.tsx
  tsconfig.json
Labels: test

ci: update cypress action to latest version
  .github/workflows/e2e-test.yml
Labels: ci

feat: add a tabbed class pane (#96)
  cypress/e2e/character-mat.test.tsx
  cypress/e2e/index.spec.tsx
  cypress/e2e/profile.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  src/__tests__/components/character-mat.test.tsx
  src/__tests__/components/copy-link-button.test.tsx
  src/__tests__/components/profile.test.tsx
  src/__tests__/components/profile/character-details.test.tsx
  src/__tests__/components/profile/character-mat.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/share-link-dialog.test.tsx
  src/__tests__/components/share/copy-button.test.tsx
  src/__tests__/components/share/share-button.test.tsx
  src/__tests__/components/share/share-dialog.test.tsx
  src/__tests__/components/tabbed-context.test.tsx
  src/__tests__/pages/index.test.tsx
  src/components/profile.tsx
  src/components/profile/character-details.tsx
  src/components/profile/character-mat.tsx
  src/components/profile/class-select.tsx
  src/components/share/copy-button.tsx
  src/components/share/share-button.tsx
  src/components/share/share-dialog.tsx
  src/components/tabbed-content.tsx
  src/pages/index.tsx
  src/styles/theme.tsx
Labels: test, source

chore: remove nyala font
  public/fonts/nyala.ttf
  src/styles/theme.tsx
Labels: source

chore: remove nyala font (#97)
  public/fonts/nyala.ttf
  src/styles/theme.tsx
Labels: source

docs: update README
  README.md
Labels: documentation

docs: update README (#98)
  README.md
Labels: documentation

docs: update README
  README.md
Labels: documentation

.github/labeler.yml:

documentation:
  - README.md
  - docs/**/*

test:
  - src/**/*.test.*
  - src/**/*.snap
  - cypress/**/*

source:
  - src/**/*

ci:
  - .github/**/*

dependencies:
  - package-lock.json
