Repository ceva24/havenplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, ci, dependencies

.github/labeler.yml:

documentation:
  - README.md
  - docs/**/*

test:
  - src/**/*.test.*
  - src/**/*.snap
  - cypress/**/*

source:
  - src/**/*

ci:
  - .github/**/*

dependencies:
  - package-lock.json

docs: update README
  docs/README.md
Labels: documentation

test: add cypress tests for character mat accessibility
  cypress/e2e/profile.spec.tsx
Labels: test

test: add e2e test for selectable ability cards
  cypress/e2e/ability-cards.spec.tsx
Labels: test

docs: update README
  docs/README.md
Labels: documentation

feat: show icon on locked ability cards
  src/components/ability-cards/selectable-ability-card.tsx
Labels: source

docs: update README
  docs/README.md
Labels: documentation

chore: update locked ability card icon position
  src/components/ability-cards/selectable-ability-card.tsx
Labels: source

chore: move class icon to class select component
  src/__tests__/components/profile/character-details.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/components/profile/character-details.tsx
  src/components/profile/character-mat.tsx
  src/components/profile/class-select.tsx
Labels: test, source

feat: disable unlockable ability cards based on level and existing unlocks
  cypress/e2e/ability-cards.spec.tsx
  src/__tests__/components/ability-cards/ability-card-group.test.tsx
  src/__tests__/components/ability-cards/active-ability-card.test.tsx
  src/__tests__/components/profile/character-details.test.tsx
  src/__tests__/components/tabs/ability-cards.test.tsx
  src/__tests__/pages/api/encode-character.test.ts
  src/__tests__/pages/index.test.tsx
  src/__tests__/services/character.test.ts
  src/__tests__/services/encoder.test.ts
  src/components/ability-cards/ability-card-group.tsx
  src/components/ability-cards/active-ability-card.tsx
  src/components/ability-cards/disabled-ability-card.tsx
  src/components/ability-cards/unlockable-ability-card.tsx
  src/components/profile/character-details.tsx
  src/pages/api/encode-character.ts
  src/pages/index.tsx
  src/services/character.ts
  src/services/encoder.ts
Labels: test, source

refactor: move tabs' content components to their respective directories
  src/__tests__/components/ability-cards/ability-cards.test.tsx
  src/__tests__/components/items/items.test.tsx
  src/__tests__/components/profile/profile.test.tsx
  src/components/ability-cards/ability-cards.tsx
  src/components/items/items.tsx
  src/components/profile/profile.tsx
  src/components/tabs/tab-container.tsx
Labels: test, source

test: add unit tests for unlockable ability cards
  src/__tests__/components/ability-cards/ability-card-group.test.tsx
  src/__tests__/components/ability-cards/ability-cards.test.tsx
  src/__tests__/components/ability-cards/active-ability-card.test.tsx
  src/__tests__/components/ability-cards/disabled-ability-card.test.tsx
  src/__tests__/components/ability-cards/unlockable-ability-card.test.tsx
  src/__tests__/components/app-image.test.tsx
  src/__tests__/components/header.test.tsx
  src/__tests__/components/profile/character-details.test.tsx
  src/__tests__/components/profile/character-mat.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/tabs/tab-panel.test.tsx
  src/__tests__/hooks/app-settings.test.tsx
  src/__tests__/hooks/use-clear-query-string.test.tsx
  src/__tests__/pages/index.test.tsx
  src/__tests__/services/character.test.ts
  src/__tests__/services/serializer.test.ts
  src/components/ability-cards/disabled-ability-card.tsx
  src/components/ability-cards/unlockable-ability-card.tsx
  src/services/character.ts
Labels: test, source

feat: render a block icon on disabled cards
  src/__tests__/components/ability-cards/disabled-ability-card.test.tsx
  src/__tests__/components/ability-cards/unlockable-ability-card.test.tsx
  src/components/ability-cards/disabled-ability-card.tsx
Labels: test, source

feat: reorder ability cards and items tabs
  src/components/tabs/tab-container.tsx
Labels: source

test: add e2e tests for disabled ability cards
  cypress/e2e/ability-cards.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
Labels: test

feat: reset unlocked ability cards when changing class
  cypress/e2e/profile.spec.tsx
  cypress/support/commands.ts
  src/__tests__/components/profile/class-select.test.tsx
  src/components/profile/class-select.tsx
Labels: test, source

feat: share unlocked ability cards
  cypress/e2e/index.spec.tsx
  cypress/e2e/share.spec.tsx
  percy.json
  src/__tests__/services/character.test.ts
  src/__tests__/services/encoder.test.ts
  src/__tests__/services/serializer.test.ts
  src/services/character.ts
  src/services/serializer.ts
Labels: test, source

refactor: use simpler array predicates
  src/components/ability-cards/ability-card-group.tsx
  src/components/items/item-grid.tsx
  src/components/items/item.tsx
  src/components/profile/class-select.tsx
  src/services/serializer.ts
Labels: source

feat: remove invalid unlocked ability cards when decreasing character level
  cypress/e2e/profile.spec.tsx
  src/__tests__/components/profile/character-details.test.tsx
  src/__tests__/services/character.test.ts
  src/components/profile/character-details.tsx
  src/services/character.ts
Labels: test, source

chore: reorder snapshots in percy config
  percy.json
Labels: none

refactor: move shared ability card unlock logic to character service
  src/components/profile/character-details.tsx
  src/services/character.ts
Labels: source

refactor: move experience field to its own component
  src/__tests__/components/profile/character-details.test.tsx
  src/__tests__/components/profile/experience-field.test.tsx
  src/components/profile/character-details.tsx
  src/components/profile/class-select.tsx
  src/components/profile/experience-field.tsx
  src/components/tabs/tab-panel.tsx
Labels: test, source

chore: update lighthouse config
  lighthouserc.json
Labels: none

feat: reduce card sizes
  src/components/cards.tsx
Labels: source

feat: increase small card sizes
  src/components/cards.tsx
Labels: source

chore: convert shareable link generation to client-side functionality
  package-lock.json
  package.json
  public/robots.txt
  src/__tests__/components/share/share-button.test.tsx
  src/__tests__/pages/api/encode-character.test.ts
  src/components/share/share-button.tsx
  src/pages/api/encode-character.ts
  src/setup-jest.js
Labels: test, source, dependencies

refactor: rename share folder to header
  src/__tests__/components/header/copy-link-button.test.tsx
  src/__tests__/components/header/header.test.tsx
  src/__tests__/components/header/share-button.test.tsx
  src/__tests__/components/header/share-dialog.test.tsx
  src/components/header/copy-link-button.tsx
  src/components/header/header.tsx
  src/components/header/share-button.tsx
  src/components/header/share-dialog.tsx
  src/pages/index.tsx
Labels: test, source

refactor: move card/image/button components to core folder
  src/__tests__/components/core/button.test.tsx
  src/__tests__/components/core/cards.test.tsx
  src/__tests__/components/core/image.test.tsx
  src/components/ability-cards/ability-card-group.tsx
  src/components/ability-cards/active-ability-card.tsx
  src/components/ability-cards/disabled-ability-card.tsx
  src/components/core/button.tsx
  src/components/core/cards.tsx
  src/components/core/image.tsx
  src/components/header/share-button.tsx
  src/components/header/share-dialog.tsx
  src/components/items/item.tsx
  src/components/profile/character-mat.tsx
  src/components/profile/class-select.tsx
  src/components/profile/personal-quest.tsx
Labels: test, source

feat: convert shareable link generation to client-side functionality (#142)
  package-lock.json
  package.json
  public/robots.txt
  src/__tests__/components/core/button.test.tsx
  src/__tests__/components/core/cards.test.tsx
  src/__tests__/components/core/image.test.tsx
  src/__tests__/components/header/copy-link-button.test.tsx
  src/__tests__/components/header/header.test.tsx
  src/__tests__/components/header/share-button.test.tsx
  src/__tests__/components/header/share-dialog.test.tsx
  src/__tests__/components/share/share-button.test.tsx
  src/__tests__/pages/api/encode-character.test.ts
  src/components/ability-cards/ability-card-group.tsx
  src/components/ability-cards/active-ability-card.tsx
  src/components/ability-cards/disabled-ability-card.tsx
  src/components/core/button.tsx
  src/components/core/cards.tsx
  src/components/core/image.tsx
  src/components/header/copy-link-button.tsx
  src/components/header/header.tsx
  src/components/header/share-button.tsx
  src/components/header/share-dialog.tsx
  src/components/items/item.tsx
  src/components/profile/character-mat.tsx
  src/components/profile/class-select.tsx
  src/components/profile/personal-quest.tsx
  src/pages/api/encode-character.ts
  src/pages/index.tsx
  src/setup-jest.js
Labels: test, source, dependencies

docs: update link to image hosting repository
  docs/README.md
Labels: documentation

feat: change item delete button to a cross in the top-right corner of the card
  cypress/e2e/items.spec.tsx
  src/__tests__/components/items/item.test.tsx
  src/components/items/item-grid.tsx
  src/components/items/item.tsx
Labels: test, source

refactor: use Box instead of div
  src/__tests__/components/tabs/tab-panel.test.tsx
  src/components/ability-cards/active-ability-card.tsx
  src/components/ability-cards/disabled-ability-card.tsx
  src/components/header/copy-link-button.tsx
  src/components/tabs/tab-panel.tsx
Labels: test, source

feat: order items automatically by slot then name
  cypress/e2e/items.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  data/gloomhaven/items.json
  src/__tests__/components/items/items-autocomplete.test.tsx
  src/components/items/items-autocomplete.tsx
  src/types/types.d.ts
Labels: test, source

chore: update base image url
  data/gloomhaven/classes/br.json
  data/gloomhaven/classes/ch.json
  data/gloomhaven/classes/mt.json
  data/gloomhaven/classes/sc.json
  data/gloomhaven/classes/sw.json
  data/gloomhaven/classes/ti.json
  data/gloomhaven/items.json
  data/gloomhaven/personal-quests.json
  docs/README.md
  src/__tests__/components/ability-cards/ability-card-group.test.tsx
  src/__tests__/components/ability-cards/ability-cards.test.tsx
  src/__tests__/components/ability-cards/active-ability-card.test.tsx
  src/__tests__/components/ability-cards/disabled-ability-card.test.tsx
  src/__tests__/components/ability-cards/unlockable-ability-card.test.tsx
  src/__tests__/components/core/image.test.tsx
  src/__tests__/components/profile/experience-field.test.tsx
  src/components/core/image.tsx
  src/components/profile/personal-quest.tsx
  src/utils/constants.ts
Labels: documentation, test, source

test: add e2e test for item order
  cypress/e2e/items.spec.tsx
Labels: test

docs: update README with new base image url
  docs/README.md
Labels: documentation

fix: remove extra margin around item cards
  src/components/items/item.tsx
Labels: source

chore: update shareable link used in checks
  cypress/e2e/index.spec.tsx
  lighthouserc.json
  percy.json
Labels: test

feat: order items automatically (#145)
  cypress/e2e/index.spec.tsx
  cypress/e2e/items.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  data/gloomhaven/classes/br.json
  data/gloomhaven/classes/ch.json
  data/gloomhaven/classes/mt.json
  data/gloomhaven/classes/sc.json
  data/gloomhaven/classes/sw.json
  data/gloomhaven/classes/ti.json
  data/gloomhaven/items.json
  data/gloomhaven/personal-quests.json
  docs/README.md
  lighthouserc.json
  percy.json
  src/__tests__/components/ability-cards/ability-card-group.test.tsx
  src/__tests__/components/ability-cards/ability-cards.test.tsx
  src/__tests__/components/ability-cards/active-ability-card.test.tsx
  src/__tests__/components/ability-cards/disabled-ability-card.test.tsx
  src/__tests__/components/ability-cards/unlockable-ability-card.test.tsx
  src/__tests__/components/core/image.test.tsx
  src/__tests__/components/items/item.test.tsx
  src/__tests__/components/items/items-autocomplete.test.tsx
  src/__tests__/components/profile/experience-field.test.tsx
  src/__tests__/components/tabs/tab-panel.test.tsx
  src/components/ability-cards/active-ability-card.tsx
  src/components/ability-cards/disabled-ability-card.tsx
  src/components/core/image.tsx
  src/components/header/copy-link-button.tsx
  src/components/items/item-grid.tsx
  src/components/items/item.tsx
  src/components/items/items-autocomplete.tsx
  src/components/profile/personal-quest.tsx
  src/components/tabs/tab-panel.tsx
  src/types/types.d.ts
  src/utils/constants.ts
Labels: documentation, test, source

docs: update README
  docs/README.md
Labels: documentation

fix: only allow one ability card to be unlocked at the current level
  cypress/e2e/ability-cards.spec.tsx
  src/__tests__/services/character.test.ts
  src/services/character.ts
Labels: test, source
