Repository ceva24/havenplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, ci, dependencies

feat: add personal quest selector
  src/components/card.tsx
  src/components/profile.tsx
  src/components/profile/character-details.tsx
  src/components/profile/personal-quest-dialog.tsx
  src/components/profile/personal-quest-select.tsx
  src/components/profile/personal-quest.tsx
Labels: source

chore: remove unused import
  src/components/card.tsx
Labels: source

feat: save a personal quest for a character
  data/personal-quests.json
  src/components/card.tsx
  src/components/profile.tsx
  src/components/profile/personal-quest-autocomplete.tsx
  src/components/profile/personal-quest-dialog.tsx
  src/components/profile/personal-quest-select.tsx
  src/components/profile/personal-quest.tsx
  src/types/types.d.ts
  src/utils/constants.ts
Labels: source

feat: serialize personal quest when sharing links
  src/__tests__/services/serializer.test.ts
  src/services/serializer.ts
Labels: test, source

feat: add close buttons to all dialogs
  cypress/e2e/share.spec.tsx
  src/components/profile/personal-quest-dialog.tsx
  src/components/profile/personal-quest.tsx
  src/components/share/share-dialog.tsx
Labels: test, source

refactor: create generic styled button component
  src/components/profile/personal-quest-dialog.tsx
  src/components/share/share-button.tsx
  src/components/share/share-dialog.tsx
  src/components/styled-button.tsx
Labels: source

chore: move personal quest card back image url to constant
  src/components/profile/personal-quest-dialog.tsx
  src/components/profile/personal-quest.tsx
  src/utils/constants.ts
Labels: source

test: add unit tests for personal quests
  cypress/e2e/profile.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/index.d.ts
  src/__tests__/components/card.test.tsx
  src/__tests__/components/profile.test.tsx
  src/__tests__/components/profile/personal-quest-autocomplete.test.tsx
  src/__tests__/components/profile/personal-quest-card.test.tsx
  src/__tests__/components/profile/personal-quest-dialog.test.tsx
  src/__tests__/components/share/share-dialog.test.tsx
  src/__tests__/components/styled-button.test.tsx
  src/components/profile.tsx
  src/components/profile/personal-quest-autocomplete.tsx
  src/components/profile/personal-quest-card.tsx
  src/components/profile/personal-quest-dialog.tsx
  src/utils/constants.ts
Labels: test, source

test: add unit tests for personal quests
  src/__tests__/components/profile/personal-quest-autocomplete.test.tsx
  src/__tests__/components/profile/personal-quest-dialog.test.tsx
Labels: test, source

test: add cypress tests for personal quest
  cypress/e2e/profile.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
Labels: test

feat: add personal quests (#100)
  cypress/e2e/profile.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  data/personal-quests.json
  src/__tests__/components/card.test.tsx
  src/__tests__/components/profile.test.tsx
  src/__tests__/components/profile/personal-quest-autocomplete.test.tsx
  src/__tests__/components/profile/personal-quest-card.test.tsx
  src/__tests__/components/profile/personal-quest-dialog.test.tsx
  src/__tests__/components/share/share-dialog.test.tsx
  src/__tests__/components/styled-button.test.tsx
  src/__tests__/services/serializer.test.ts
  src/components/card.tsx
  src/components/profile.tsx
  src/components/profile/character-details.tsx
  src/components/profile/personal-quest-autocomplete.tsx
  src/components/profile/personal-quest-card.tsx
  src/components/profile/personal-quest-dialog.tsx
  src/components/share/share-button.tsx
  src/components/share/share-dialog.tsx
  src/components/styled-button.tsx
  src/services/serializer.ts
  src/types/types.d.ts
  src/utils/constants.ts
Labels: test, source

feat: add new items tab
  src/components/tabbed-content.tsx
Labels: source

test: update tabbed content tests
  src/__tests__/components/tabbed-content.test.tsx
Labels: test, source

feat: add app bar and move share button to it
  cypress/support/commands.ts
  src/__tests__/components/header.test.tsx
  src/components/header.tsx
  src/components/profile.tsx
  src/components/tabbed-content.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/theme.tsx
Labels: test, source

fix: resolve equality errors with personal quest autocomplete
  src/__tests__/components/profile/personal-quest-autocomplete.test.tsx
  src/components/card.tsx
  src/components/cards.tsx
  src/components/profile/personal-quest-autocomplete.tsx
  src/components/profile/personal-quest-card.tsx
  src/components/profile/personal-quest-dialog.tsx
Labels: test, source

test: add test for item cards
  src/__tests__/components/card.test.tsx
  src/__tests__/components/cards.test.tsx
  src/__tests__/components/profile/personal-quest-autocomplete.test.tsx
  src/components/cards.tsx
  src/components/profile/personal-quest-autocomplete.tsx
  src/components/profile/personal-quest-card.tsx
  src/components/profile/personal-quest-dialog.tsx
Labels: test, source

feat: render items and components to add/remove them
  src/__tests__/components/cards.test.tsx
  src/__tests__/components/styled-button.test.tsx
  src/components/app-button.tsx
  src/components/cards.tsx
  src/components/header.tsx
  src/components/items.tsx
  src/components/items/item.tsx
  src/components/profile.tsx
  src/components/profile/personal-quest-dialog.tsx
  src/components/share/share-button.tsx
  src/components/share/share-dialog.tsx
  src/components/tabbed-content.tsx
Labels: test, source

refactor: add generic Asset type
  data/character-classes.json
  src/__tests__/components/tabbed-content.test.tsx
  src/components/profile/character-details.tsx
  src/types/types.d.ts
Labels: test, source

chore: rename personal quest autocomplete interface
  src/components/profile/personal-quest-autocomplete.tsx
Labels: source

feat: add ability to add and remove items
  data/items.json
  package-lock.json
  package.json
  src/__tests__/components/header.test.tsx
  src/__tests__/components/profile.test.tsx
  src/__tests__/components/profile/character-details.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/profile/personal-quest-autocomplete.test.tsx
  src/__tests__/components/profile/personal-quest-card.test.tsx
  src/__tests__/components/profile/personal-quest-dialog.test.tsx
  src/__tests__/components/share/share-button.test.tsx
  src/__tests__/components/tabbed-content.test.tsx
  src/__tests__/pages/index.test.tsx
  src/__tests__/services/character.test.ts
  src/__tests__/services/serializer.test.ts
  src/components/items.tsx
  src/components/items/item.tsx
  src/components/items/items-autocomplete.tsx
  src/components/tabbed-content.tsx
  src/services/serializer.ts
  src/types/types.d.ts
  src/utils/constants.ts
Labels: test, source, dependencies

refactor: simplify personal quest autocomplete implementation
  src/__tests__/components/profile/personal-quest-autocomplete.test.tsx
  src/components/app-button.tsx
  src/components/items/items-autocomplete.tsx
  src/components/profile/personal-quest-autocomplete.tsx
  src/components/profile/personal-quest-dialog.tsx
  src/components/share/share-dialog.tsx
  src/styles/theme.tsx
Labels: test, source

feat: set personal quest card alt text
  src/components/profile/personal-quest-dialog.tsx
Labels: source

test: fix personal quest dialog test
  src/__tests__/components/profile/personal-quest-dialog.test.tsx
Labels: test, source

build: downgrade version of uuid to fix jest export issue
  package-lock.json
  package.json
Labels: dependencies

style: rename copy link button component
  src/__tests__/components/share/copy-link-button.test.tsx
  src/components/share/copy-link-button.tsx
  src/components/share/share-dialog.tsx
Labels: test, source

style: expand shorthand padding property in tabbed content
  src/components/tabbed-content.tsx
Labels: source

fix: avoid error when deserializing undefined personal quest data in local dev
  src/__tests__/services/serializer.test.ts
  src/services/serializer.ts
Labels: test, source

fix: resolve issue with tabs shrinking the body on small screens
  src/components/tabbed-content.tsx
Labels: source

feat: stack spoiler checkbox and share button for small screen sizes
  src/components/header.tsx
Labels: source

feat: fill the screen on small screen sizes regardless of content
  src/components/tabbed-content.tsx
  src/pages/index.tsx
Labels: source

feat: increase distance between class select and character details fields
  src/components/profile/character-details.tsx
Labels: source

feat: center the character details form on smaller screen sizes
  src/components/profile.tsx
Labels: source

feat: hide character mat on small screen sizes
  src/components/profile.tsx
Labels: source

test: add items, item grid and item component unit tests
  src/__tests__/components/app-button.test.tsx
  src/__tests__/components/items.test.tsx
  src/__tests__/components/items/item-grid.test.tsx
  src/__tests__/components/items/item.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/components/items.tsx
  src/components/items/item-grid.tsx
  src/components/items/item.tsx
Labels: test, source

test: update cypress tests with personal quest changes
  cypress/e2e/profile.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
Labels: test

test: add items autocomplete unit tests
  src/__tests__/components/items/items-autocomplete.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
Labels: test, source

test: add cypress tests for the items tab
  cypress/e2e/items.spec.tsx
  cypress/e2e/profile.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  package.json
Labels: test

feat: serialize character item data
  src/__tests__/services/codec.test.ts
  src/__tests__/services/serializer.test.ts
  src/services/serializer.ts
Labels: test, source

feat: deserialize character item data
  src/__tests__/services/serializer.test.ts
  src/services/serializer.ts
Labels: test, source

test: add cypress tests for items in shareable links
  cypress/e2e/share.spec.tsx
Labels: test

.github/labeler.yml:

documentation:
  - README.md
  - docs/**/*

test:
  - src/**/*.test.*
  - src/**/*.snap
  - cypress/**/*

source:
  - src/**/*

ci:
  - .github/**/*

dependencies:
  - package-lock.json
