Repository ceva24/havenplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, ci, dependencies

feat: save hand data in shareable link
  cypress/e2e/index.spec.tsx
  cypress/e2e/profile.spec.tsx
  cypress/e2e/share.spec.tsx
  src/__tests__/components/ability-cards/hand/select-card-dialog.test.tsx
  src/__tests__/services/character.test.ts
  src/__tests__/services/encoder.test.ts
  src/__tests__/services/serializer.test.ts
  src/components/ability-cards/hand/select-card-dialog.tsx
  src/services/character.ts
  src/services/serializer.ts
Labels: test, source

test: update percy snapshots
  percy.json
  src/components/ability-cards/ability-cards.tsx
Labels: source

refactor: move constants to top-level src directory
  jest.config.js
  src/__tests__/components/ability-cards/ability-cards.test.tsx
  src/__tests__/components/core/image.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/pages/index.test.tsx
  src/__tests__/services/serializer.test.ts
  src/components/core/image.tsx
  src/components/profile/class-select.tsx
  src/constants.ts
  src/pages/index.tsx
  src/services/serializer.ts
  tsconfig.json
Labels: test, source

chore: update lighthouse config
  lighthouserc.json
Labels: none

chore: update percy config
  percy.json
Labels: none

chore: update percy config
  percy.json
Labels: none

chore: update percy config
  percy.json
Labels: none

chore: update percy config
  percy.json
Labels: none

style: update formatting after xo update
  .xo-config.json
  jest.config.js
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/profile/experience-field.test.tsx
  src/__tests__/pages/index.test.tsx
  src/__tests__/services/encoder.test.ts
  src/__tests__/services/serializer.test.ts
  src/components/ability-cards/ability-cards.tsx
  src/components/ability-cards/active-ability-card.tsx
  src/components/ability-cards/deck/ability-card-group.tsx
  src/components/ability-cards/deck/deck.tsx
  src/components/ability-cards/deck/unlockable-ability-card.tsx
  src/components/ability-cards/hand/select-card-dialog.tsx
  src/components/core/image.tsx
  src/components/header/share-button.tsx
  src/components/header/share-dialog.tsx
  src/components/items/item-grid.tsx
  src/components/items/item.tsx
  src/components/items/items-autocomplete.tsx
  src/components/items/items.tsx
  src/components/profile/character-details.tsx
  src/components/profile/character-mat.tsx
  src/components/profile/class-select.tsx
  src/components/profile/experience-field.tsx
  src/components/profile/personal-quest-autocomplete.tsx
  src/components/profile/personal-quest.tsx
  src/components/profile/profile.tsx
  src/components/tabs/tab-container.tsx
  src/components/tabs/tab-panel.tsx
  src/hooks/app-settings.tsx
  src/pages/index.tsx
  src/setup-jest.ts
  src/styles/theme.tsx
Labels: test, source

feat: add default attack modifier deck data
  data/gloomhaven/attack-modifiers.json
  src/constants.ts
  src/loaders/attack-modifiers.ts
  src/types/types.d.ts
Labels: source

feat: display the base attack modifier deck
  cypress/e2e/perks.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  percy.json
  src/__tests__/components/perks/attack-modifiers.test.tsx
  src/__tests__/components/perks/perks.test.tsx
  src/components/core/cards.tsx
  src/components/perks/attack-modifiers.tsx
  src/components/perks/perks.tsx
  src/components/tabs/tab-container.tsx
  src/constants.ts
  src/types/types.d.ts
Labels: test, source

chore: rename base attack modifier deck constant
  src/components/perks/attack-modifiers.tsx
  src/constants.ts
Labels: source

chore: update dependencies (#171)
  package-lock.json
  package.json
Labels: dependencies

feat: display the list of perks and checkboxes
  cypress/e2e/perks.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  data/gloomhaven/classes/br.json
  data/gloomhaven/classes/ch.json
  data/gloomhaven/classes/mt.json
  data/gloomhaven/classes/sc.json
  data/gloomhaven/classes/sw.json
  data/gloomhaven/classes/ti.json
  src/__tests__/components/ability-cards/deck/deck.test.tsx
  src/__tests__/components/ability-cards/deck/unlockable-ability-card.test.tsx
  src/__tests__/components/ability-cards/hand/select-card-dialog.test.tsx
  src/__tests__/components/perks/perk-list.test.tsx
  src/__tests__/components/perks/perks.test.tsx
  src/__tests__/services/character.test.ts
  src/__tests__/utils.ts
  src/components/perks/perk-list.tsx
  src/components/perks/perks.tsx
  src/components/tabs/tab-container.tsx
  src/types/types.d.ts
Labels: test, source

chore: add data structure for attack modifier additions/removals due to perks
  data/gloomhaven/classes/br.json
  data/gloomhaven/classes/ch.json
  data/gloomhaven/classes/mt.json
  data/gloomhaven/classes/sc.json
  data/gloomhaven/classes/sw.json
  data/gloomhaven/classes/ti.json
  src/__tests__/components/perks/perk-list.test.tsx
  src/__tests__/utils.ts
  src/types/types.d.ts
Labels: test, source

feat: add ability to gain and remove perks, altering the attack modifier deck card counts
  .xo-config.json
  cypress/e2e/perks.spec.tsx
  next.config.js
  package-lock.json
  package.json
  src/__tests__/components/perks/attack-modifiers.test.tsx
  src/__tests__/components/perks/perk-list.test.tsx
  src/__tests__/components/perks/perks.test.tsx
  src/__tests__/utils.ts
  src/components/perks/attack-modifiers.tsx
  src/components/perks/perk-list.tsx
  src/components/perks/perks.tsx
  src/components/tabs/tab-container.tsx
  src/constants.ts
  src/services/character.ts
  src/services/serializer.ts
  src/types/types.d.ts
Labels: test, source, dependencies

test: add perks-list unit tests
  src/__tests__/components/perks/perk-list.test.tsx
  src/components/perks/perk-list.tsx
Labels: test, source

chore: rename character details form
  cypress/support/commands.ts
  src/__tests__/components/profile/character-details.test.tsx
  src/__tests__/components/profile/profile.test.tsx
  src/components/profile/character-details.tsx
Labels: test, source

test: add unit tests for attack modifiers
  src/__tests__/components/perks/attack-modifiers.test.tsx
Labels: test, source

fix: remove the last copy of an attack modifier card rather than setting its count to 0
  src/components/perks/attack-modifiers.tsx
Labels: source

test: add unit tests for gained perks in character service
  src/__tests__/services/character.test.ts
Labels: test, source

test: add e2e tests for gaining and removing perks
  cypress/e2e/perks.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  data/gloomhaven/classes/ti.json
Labels: test

chore: bump uuid and @types/uuid to 9.0.0
  package-lock.json
  package.json
Labels: dependencies

chore: bump Next to 13.0.6
  package-lock.json
  package.json
  src/__tests__/pages/index.test.tsx
Labels: test, source, dependencies

chore: use node 18 lts
  .nvmrc
Labels: none

chore: switch react-flippy dependency to @ceva24/react-flippy for React 18 compatibility
  package-lock.json
  package.json
  src/components/profile/character-mat.tsx
  src/types/flippy.d.ts
Labels: source, dependencies

chore: update all dependencies
  package-lock.json
  package.json
  src/services/character.ts
Labels: source, dependencies

chore: update dependencies (#178)
  .nvmrc
  package-lock.json
  package.json
  src/__tests__/pages/index.test.tsx
  src/components/profile/character-mat.tsx
  src/services/character.ts
  src/types/flippy.d.ts
Labels: test, source, dependencies

ci: add schedule to all workflows
  .github/workflows/check-format.yml
  .github/workflows/check-types.yml
  .github/workflows/lint.yml
Labels: ci

feat: display additional class attack modifier cards separately and in order
  cypress/e2e/perks.spec.tsx
  package-lock.json
  src/__tests__/components/perks/attack-modifiers-grid.test.tsx
  src/__tests__/components/perks/attack-modifiers.test.tsx
  src/components/perks/attack-modifiers-grid.tsx
  src/components/perks/attack-modifiers.tsx
  src/components/perks/perks.tsx
Labels: test, source, dependencies

chore: remove spoiler toggle temporarily
  src/__tests__/components/header/header.test.tsx
  src/components/header/header.tsx
Labels: test, source

feat: display icons in perk descriptions
  cypress/e2e/perks.spec.tsx
  cypress/support/commands.ts
  package-lock.json
  package.json
  src/__tests__/components/perks/perk-description.test.tsx
  src/__tests__/components/perks/perk-list.test.tsx
  src/components/perks/attack-modifiers.tsx
  src/components/perks/perk-description.tsx
  src/components/perks/perk-list.tsx
Labels: test, source, dependencies

chore: update README.md
  docs/README.md
Labels: documentation

chore: update README.md
  docs/README.md
Labels: documentation

refactor: separate perk label into separate component in preparation for customising functionality
  src/__tests__/components/perks/rich-perk-description.test.tsx
  src/components/perks/perk-label.tsx
  src/components/perks/perk-list.tsx
  src/components/perks/rich-perk-description.tsx
Labels: test, source

feat: check all perks in order when clicking on a perk description
  cypress/e2e/perks.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  src/__tests__/components/perks/perk-label.test.tsx
  src/components/perks/perk-label.tsx
  src/components/perks/perk-list.tsx
Labels: test, source

feat: save gained perk data in the shareable link
  cypress/e2e/ability-cards/deck.spec.tsx
  cypress/e2e/index.spec.tsx
  cypress/e2e/profile.spec.tsx
  cypress/e2e/share.spec.tsx
  src/__tests__/services/encoder.test.ts
  src/__tests__/services/serializer.test.ts
  src/components/perks/perk-label.tsx
  src/services/serializer.ts
Labels: test, source

test: update lighthouse and percy shareable links
  cypress/e2e/index.spec.tsx
  lighthouserc.json
  percy.json
Labels: test

feat: add perk data for remaining starter classes
  data/gloomhaven/classes/ch.json
  data/gloomhaven/classes/mt.json
  data/gloomhaven/classes/sc.json
  data/gloomhaven/classes/sw.json
  data/gloomhaven/classes/ti.json
Labels: none

feat: add basic battle goals interface
  src/__tests__/components/perks/perk-list.test.tsx
  src/components/perks/battle-goals.tsx
  src/components/perks/perks.tsx
Labels: test, source

.github/labeler.yml:

documentation:
  - README.md
  - docs/**/*

test:
  - src/**/*.test.*
  - src/**/*.snap
  - cypress/**/*

source:
  - src/**/*

ci:
  - .github/**/*

dependencies:
  - package-lock.json
