Repository ceva24/havenplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, ci, dependencies

.github/labeler.yml:

documentation:
  - README.md
  - docs/**/*

test:
  - src/**/*.test.*
  - src/**/*.snap
  - cypress/**/*

source:
  - src/**/*

ci:
  - .github/**/*

dependencies:
  - package-lock.json

test: add visual test for items tab
  percy.json
Labels: none

test: fix cypress index tests
  cypress/e2e/index.spec.tsx
Labels: test

feat: flip character mat on click
  cypress/e2e/profile.spec.tsx
  data/character-classes.json
  package-lock.json
  package.json
  src/__tests__/components/profile.test.tsx
  src/__tests__/components/profile/character-mat.test.tsx
  src/__tests__/components/tabbed-content.test.tsx
  src/components/profile/character-mat.tsx
  src/types/types.d.ts
Labels: test, source, dependencies

refactor: rename variables in character service
  src/services/character.ts
Labels: source

docs: move and update README
  docs/README.md
Labels: documentation

chore: remove padding from flippable character mat
  src/components/profile/character-mat.tsx
Labels: source

feat: make character mats flippable (#109)
  cypress/e2e/profile.spec.tsx
  data/character-classes.json
  docs/README.md
  package-lock.json
  package.json
  src/__tests__/components/profile.test.tsx
  src/__tests__/components/profile/character-mat.test.tsx
  src/__tests__/components/tabbed-content.test.tsx
  src/components/profile/character-mat.tsx
  src/services/character.ts
  src/types/types.d.ts
Labels: documentation, test, source, dependencies

docs: fix link to contribution guidelines in README
  docs/README.md
Labels: documentation

refactor: encode character data using lzbase62 instead of brotli
  .gitignore
  .prettierignore
  package-lock.json
  package.json
  src/__tests__/pages/api/encode-character.test.ts
  src/__tests__/pages/index.test.tsx
  src/__tests__/services/character.test.ts
  src/__tests__/services/codec.test.ts
  src/pages/api/encode-character.ts
  src/pages/index.tsx
  src/services/character.ts
  src/services/codec.ts
Labels: test, source, dependencies

refactor: use img instead of next/image
  .xo-config.json
  src/components/cards.tsx
  src/components/profile/character-details.tsx
  src/components/profile/character-mat.tsx
Labels: source

chore: remove sharp dependency
  package-lock.json
  package.json
Labels: dependencies

chore: update to latest version of uuid
  jest.config.js
  package-lock.json
  package.json
Labels: dependencies

test: update cypress tests to use new compression model
  cypress/e2e/index.spec.tsx
  cypress/e2e/share.spec.tsx
Labels: test

chore: update percy snapshot urls to use new compression model
  percy.json
Labels: none

fix: remove absolute size values from character mat back img
  src/components/profile/character-mat.tsx
Labels: source

fix: make card images resize correctly
  src/components/cards.tsx
Labels: source

refactor: use lzbase62 for compression and img tags instead of next/image (#110)
  .gitignore
  .prettierignore
  .xo-config.json
  cypress/e2e/index.spec.tsx
  cypress/e2e/share.spec.tsx
  docs/README.md
  jest.config.js
  package-lock.json
  package.json
  percy.json
  src/__tests__/pages/api/encode-character.test.ts
  src/__tests__/pages/index.test.tsx
  src/__tests__/services/character.test.ts
  src/__tests__/services/codec.test.ts
  src/components/cards.tsx
  src/components/profile/character-details.tsx
  src/components/profile/character-mat.tsx
  src/pages/api/encode-character.ts
  src/pages/index.tsx
  src/services/character.ts
  src/services/codec.ts
Labels: documentation, test, source, dependencies

docs: update README deployment details
  docs/README.md
Labels: documentation

feat: load web quality images from github pages
  cypress/e2e/profile.spec.tsx
  cypress/e2e/share.spec.tsx
  data/character-classes.json
  data/items.json
  data/personal-quests.json
  src/__tests__/utils/images.test.ts
  src/components/cards.tsx
  src/components/profile/character-mat.tsx
  src/components/profile/personal-quest-card.tsx
  src/components/profile/personal-quest-dialog.tsx
  src/utils/constants.ts
  src/utils/images.ts
Labels: test, source

test: fix cypress test with correct personal quest image back
  cypress/e2e/profile.spec.tsx
Labels: test

feat: load web quality images from github pages (#113)
  cypress/e2e/profile.spec.tsx
  cypress/e2e/share.spec.tsx
  data/character-classes.json
  data/items.json
  data/personal-quests.json
  src/__tests__/utils/images.test.ts
  src/components/cards.tsx
  src/components/profile/character-mat.tsx
  src/components/profile/personal-quest-card.tsx
  src/components/profile/personal-quest-dialog.tsx
  src/utils/constants.ts
  src/utils/images.ts
Labels: test, source

chore: reduce image size of character icons
  public/character-icons/gloomhaven/gh-brute.png
  public/character-icons/gloomhaven/gh-cragheart.png
  public/character-icons/gloomhaven/gh-mindthief.png
  public/character-icons/gloomhaven/gh-scoundrel.png
  public/character-icons/gloomhaven/gh-spellweaver.png
  public/character-icons/gloomhaven/gh-tinkerer.png
Labels: none

chore: remove worldhaven submodule
  .gitmodules
Labels: none

ci: disable vercel comments
  vercel.json
Labels: none

build: remove unused dependency
  package-lock.json
  package.json
Labels: dependencies

feat: remove box shadow from character mat
  src/components/profile/character-mat.tsx
Labels: source

feat: rework personal quest to use slider with global context
  jest.config.js
  src/components/profile.tsx
  src/components/profile/personal-quest-autocomplete.tsx
  src/components/profile/personal-quest-card.tsx
  src/components/profile/personal-quest-dialog.tsx
  src/components/profile/personal-quest.tsx
  src/hooks/app-settings.tsx
  src/pages/index.tsx
  src/types/types.d.ts
  tsconfig.json
Labels: source

test: update unit tests for reworked personal quest
  src/__tests__/components/profile.test.tsx
  src/__tests__/components/profile/personal-quest-card.test.tsx
  src/__tests__/components/profile/personal-quest-dialog.test.tsx
  src/__tests__/components/profile/personal-quest.test.tsx
  src/__tests__/components/tabbed-content.test.tsx
  src/components/profile/personal-quest.tsx
Labels: test, source

test: update personal quest cypress tests
  cypress/e2e/index.spec.tsx
  cypress/e2e/profile.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  src/__tests__/components/profile/personal-quest.test.tsx
  src/components/profile/personal-quest.tsx
Labels: test, source

test: update profile tab visual test to include personal quest
  percy.json
  src/components/profile/personal-quest.tsx
Labels: source

chore: remove logging
  src/pages/api/encode-character.ts
  src/pages/index.tsx
Labels: source

refactor: move tab content to tabs directory and rename tab container
  src/__tests__/components/tabs/items.test.tsx
  src/__tests__/components/tabs/profile.test.tsx
  src/__tests__/components/tabs/tab-container.test.tsx
  src/components/tabs/items.tsx
  src/components/tabs/profile.tsx
  src/components/tabs/tab-container.tsx
  src/pages/index.tsx
Labels: test, source

refactor: move clear query string to separate hook and add hook tests
  src/__tests__/components/profile/personal-quest.test.tsx
  src/__tests__/hooks/app-settings.test.tsx
  src/__tests__/hooks/use-clear-query-string.test.tsx
  src/hooks/use-clear-query-string.tsx
  src/pages/index.tsx
Labels: test, source

build: update lighthouse check to load character details
  lighthouserc.json
Labels: none

feat: rework personal quest to toggle via a switch (#114)
  cypress/e2e/index.spec.tsx
  cypress/e2e/profile.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  jest.config.js
  lighthouserc.json
  percy.json
  src/__tests__/components/profile/personal-quest-card.test.tsx
  src/__tests__/components/profile/personal-quest-dialog.test.tsx
  src/__tests__/components/profile/personal-quest.test.tsx
  src/__tests__/components/tabbed-content.test.tsx
  src/__tests__/components/tabs/items.test.tsx
  src/__tests__/components/tabs/profile.test.tsx
  src/__tests__/components/tabs/tab-container.test.tsx
  src/__tests__/hooks/app-settings.test.tsx
  src/__tests__/hooks/use-clear-query-string.test.tsx
  src/components/profile/personal-quest-autocomplete.tsx
  src/components/profile/personal-quest-card.tsx
  src/components/profile/personal-quest-dialog.tsx
  src/components/profile/personal-quest.tsx
  src/components/tabs/items.tsx
  src/components/tabs/profile.tsx
  src/components/tabs/tab-container.tsx
  src/hooks/app-settings.tsx
  src/hooks/use-clear-query-string.tsx
  src/pages/api/encode-character.ts
  src/pages/index.tsx
  src/types/types.d.ts
  tsconfig.json
Labels: test, source

chore: add robots.txt
  public/robots.txt
Labels: none

chore: change order of metadata tags
  src/pages/index.tsx
Labels: source

chore: minor SEO optimisation tweaks (#123)
  public/robots.txt
  src/pages/index.tsx
Labels: source

feat: switch to using webp images
  data/character-classes.json
  data/items.json
  data/personal-quests.json
  src/__tests__/utils/images.test.ts
  src/utils/images.ts
Labels: test, source

docs: update README
  docs/README.md
Labels: documentation
