Repository ceva24/havenplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, ci, dependencies

chore: add noindex meta tag on api routes
  cypress/e2e/app.spec.tsx
  jest.config.js
  package-lock.json
  package.json
  src/__tests__/middleware.test.ts
  src/__tests__/setup-jest.ts
  src/middleware.ts
Labels: test, source, dependencies

fix: return correct http response for request body parsing errors in api routes
  src/__tests__/pages/api/games/[gameId]/classes/[classId].test.ts
  src/__tests__/pages/api/games/[gameId]/classes/index.test.ts
  src/__tests__/pages/api/games/[gameId]/items.test.ts
  src/pages/api/games/[gameId]/classes/index.ts
  src/pages/api/games/[gameId]/items.ts
Labels: test, source

chore: tighten up API routes (#290)
  cypress/e2e/app.spec.tsx
  jest.config.js
  package-lock.json
  package.json
  src/__tests__/client/hooks/data/use-character-class-summaries.test.ts
  src/__tests__/client/hooks/data/use-items.test.ts
  src/__tests__/client/services/request.test.ts
  src/__tests__/middleware.test.ts
  src/__tests__/pages/api/games/[gameId]/classes/[classId].test.ts
  src/__tests__/pages/api/games/[gameId]/classes/index.test.ts
  src/__tests__/pages/api/games/[gameId]/items.test.ts
  src/__tests__/setup-jest.ts
  src/client/hooks/data/use-character-class-summaries.ts
  src/client/hooks/data/use-items.ts
  src/client/services/request.ts
  src/middleware.ts
  src/pages/api/games/[gameId]/classes/[classId].ts
  src/pages/api/games/[gameId]/classes/index.ts
  src/pages/api/games/[gameId]/items.ts
Labels: test, source, dependencies

feat: allow the character level to be changed directly
  cypress/e2e/app.spec.tsx
  cypress/e2e/profile/profile.spec.tsx
  cypress/support/commands.ts
  src/__tests__/client/components/profile/character-details.test.tsx
  src/__tests__/client/services/profile.test.ts
  src/client/components/profile/character-details.tsx
  src/client/services/profile.ts
Labels: test, source

chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies

feat: remove level field min/max attributes to avoid chrome's opinionated rendering
  src/client/components/profile/character-details.tsx
Labels: source

feat: allow the character level to be changed directly (#292)
  cypress/e2e/app.spec.tsx
  cypress/e2e/profile/profile.spec.tsx
  cypress/support/commands.ts
  package-lock.json
  package.json
  src/__tests__/client/components/profile/character-details.test.tsx
  src/__tests__/client/services/profile.test.ts
  src/client/components/profile/character-details.tsx
  src/client/services/profile.ts
Labels: test, source, dependencies

chore: lower performance check threshold until issue is fixed
  lighthouserc.json
Labels: none

chore: lower performance check threshold until issue is fixed (#294)
  lighthouserc.json
Labels: none

chore: convert settings character switches to checkboxes
  src/client/components/settings/character-classes.tsx
Labels: source

test: add unit tests for item slot filters
  src/__tests__/client/components/items/browse-items-dialog.test.tsx
  src/__tests__/client/components/items/item-slot-filters.test.tsx
  src/__tests__/client/services/items.test.ts
  src/__tests__/server/services/settings.test.ts
  src/client/components/items/browse-items-dialog.tsx
  src/client/components/items/item-slot-filters.tsx
  src/client/services/items.ts
Labels: test, source

feat: add item filters in browse items dialog
  src/__tests__/create-test-fixtures.ts
  src/client/components/items/browse-items-dialog.tsx
  src/client/components/items/item-filters.tsx
  src/client/services/items.ts
  src/server/services/settings.ts
  src/types/types.d.ts
Labels: source

feat: update style of browse items button
  src/client/components/items/items.tsx
Labels: source

test: add cypress test for item slot filters
  cypress/e2e/items.spec.tsx
Labels: test

feat: reset item slot filters when closing the browse items dialog
  src/__tests__/client/components/items/items.test.tsx
  src/client/components/items/item-slot-filters.tsx
  src/client/components/items/items.tsx
Labels: test, source

refactor: rename character/item spoiler functions
  src/client/components/items/browse-items-dialog.tsx
  src/client/components/items/items-autocomplete.tsx
  src/client/components/profile/class-select.tsx
  src/client/services/spoiler.ts
Labels: source

test: update e2e tests to check for existence of elements rather than visibility
  cypress/e2e/ability-cards/hand.spec.tsx
  cypress/e2e/app.spec.tsx
  cypress/e2e/items.spec.tsx
  cypress/e2e/perks.spec.tsx
  cypress/e2e/profile/profile.spec.tsx
  cypress/e2e/share.spec.tsx
Labels: test

feat: hide item groups when no items match the filters in the browse items dialog
  src/__tests__/client/components/items/browse-items-dialog.test.tsx
  src/__tests__/client/services/items.test.ts
  src/client/components/items/browse-items-dialog.tsx
  src/client/services/items.ts
Labels: test, source

chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies

chore: remove unnecessary error handling in class API route
  src/pages/api/games/[gameId]/classes/[classId].ts
Labels: source

chore: add item slot data
  data/gloomhaven/item-slots.json
  src/__tests__/create-test-fixtures.ts
  src/server/loaders/gloomhaven/item-slots.ts
  src/server/services/games/gloomhaven.ts
  src/types/data.d.ts
  src/types/types.d.ts
Labels: source

refactor: move user-related app settings to its own object
  src/__tests__/client/components/items/browse-items-dialog.test.tsx
  src/__tests__/client/components/items/item-slot-filters.test.tsx
  src/__tests__/client/components/items/items.test.tsx
  src/__tests__/client/components/profile/class-select.test.tsx
  src/__tests__/create-test-fixtures.ts
  src/__tests__/server/services/settings.test.ts
  src/client/components/ability-cards/ability-cards-tab-container.tsx
  src/client/components/items/browse-items-dialog.tsx
  src/client/components/items/item-slot-filters.tsx
  src/client/components/items/items.tsx
  src/client/components/profile/class-select.tsx
  src/client/components/profile/personal-quest-switch.tsx
  src/client/components/profile/profile.tsx
  src/server/services/settings.ts
  src/types/types.d.ts
Labels: test, source

chore: filter and order item slots based on item slot data
  data/gloomhaven/items.json
  src/__tests__/client/components/items/browse-items-dialog.test.tsx
  src/__tests__/client/components/items/item-grid.test.tsx
  src/__tests__/client/components/items/item-slot-filters.test.tsx
  src/__tests__/client/components/items/items.test.tsx
  src/__tests__/client/services/items.test.ts
  src/__tests__/create-test-fixtures.ts
  src/client/components/items/browse-items-dialog.tsx
  src/client/components/items/item-grid.tsx
  src/client/components/items/item-slot-filters.tsx
  src/client/components/items/items-autocomplete.tsx
  src/client/services/items.ts
  src/types/data.d.ts
  src/types/types.d.ts
Labels: test, source

feat: add item filters in the browse items dialog (#293)
  cypress/e2e/ability-cards/hand.spec.tsx
  cypress/e2e/app.spec.tsx
  cypress/e2e/items.spec.tsx
  cypress/e2e/perks.spec.tsx
  cypress/e2e/profile/profile.spec.tsx
  cypress/e2e/share.spec.tsx
  data/gloomhaven/item-slots.json
  data/gloomhaven/items.json
  package-lock.json
  package.json
  src/__tests__/client/components/items/browse-items-dialog.test.tsx
  src/__tests__/client/components/items/item-grid.test.tsx
  src/__tests__/client/components/items/item-slot-filters.test.tsx
  src/__tests__/client/components/items/items.test.tsx
  src/__tests__/client/components/profile/class-select.test.tsx
  src/__tests__/client/services/items.test.ts
  src/__tests__/create-test-fixtures.ts
  src/__tests__/server/services/settings.test.ts
  src/client/components/ability-cards/ability-cards-tab-container.tsx
  src/client/components/items/browse-items-dialog.tsx
  src/client/components/items/item-grid.tsx
  src/client/components/items/item-slot-filters.tsx
  src/client/components/items/items-autocomplete.tsx
  src/client/components/items/items.tsx
  src/client/components/profile/class-select.tsx
  src/client/components/profile/personal-quest-switch.tsx
  src/client/components/profile/profile.tsx
  src/client/components/settings/character-classes.tsx
  src/client/services/items.ts
  src/client/services/spoiler.ts
  src/pages/api/games/[gameId]/classes/[classId].ts
  src/server/loaders/gloomhaven/item-slots.ts
  src/server/services/games/gloomhaven.ts
  src/server/services/settings.ts
  src/types/data.d.ts
  src/types/types.d.ts
Labels: test, source, dependencies

chore: change browse items button text
  cypress/support/commands.ts
  src/__tests__/client/components/items/items.test.tsx
  src/client/components/items/items.tsx
Labels: test, source

chore: update browse items button text (#296)
  cypress/support/commands.ts
  src/__tests__/client/components/items/items.test.tsx
  src/client/components/items/items.tsx
Labels: test, source

chore: downgrade lhci/cli
  package-lock.json
  package.json
Labels: dependencies

feat: populate the class select with the initial character when loading
  src/client/components/profile/class-select.tsx
Labels: source

refactor: class select initial value when character classes are loading
  src/__tests__/client/components/profile/class-select.test.tsx
  src/client/components/profile/class-select.tsx
Labels: test, source

style: experience field component type def
  src/client/components/profile/experience-field.tsx
Labels: source

chore: update performance check threshold
  lighthouserc.json
Labels: none

perf: resolve performance check issues (#295)
  lighthouserc.json
  package-lock.json
  package.json
  src/__tests__/client/components/profile/class-select.test.tsx
  src/client/components/profile/class-select.tsx
  src/client/components/profile/experience-field.tsx
Labels: test, source, dependencies

chore: hide browse items button text on small screen sizes
  src/client/components/items/items.tsx
Labels: source

chore: hide browse items button text on small screen sizes (#297)
  src/client/components/items/items.tsx
Labels: source

feat: add SU character class
  data/gloomhaven/classes/su.json
  src/server/loaders/gloomhaven/character-classes.ts
Labels: source

feat: add SU character class (#298)
  data/gloomhaven/classes/su.json
  src/server/loaders/gloomhaven/character-classes.ts
Labels: source

chore: add .env to ignore lists
  .gitignore
  .prettierignore
Labels: none

revert: unnecessary ignore file changes
  .gitignore
  .prettierignore
Labels: none

feat: add enhanced card images feature flag
  .xo-config.json
  jest.config.js
  src/__tests__/client/services/ability-cards/ability-card.test.ts
  src/__tests__/client/services/ability-cards/enhancement.test.ts
  src/client/components/ability-cards/ability-card.tsx
  src/client/services/ability-cards/ability-card.ts
  src/client/services/ability-cards/enhancement.ts
Labels: test, source

chore: add .env file
  .env
  jest.config.js
Labels: none

.github/labeler.yml:

documentation:
  - README.md
  - docs/**/*

test:
  - src/**/*.test.*
  - src/**/*.snap
  - cypress/**/*

source:
  - src/**/*

ci:
  - .github/**/*

dependencies:
  - package-lock.json
