Repository ceva24/havenplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, ci, dependencies

fix: change enhancement model to support main-line and non-main-line slots of the same type
  data/gloomhaven/classes/br.json
  data/gloomhaven/classes/ch.json
  data/gloomhaven/classes/mt.json
  data/gloomhaven/classes/sc.json
  data/gloomhaven/classes/sw.json
  data/gloomhaven/classes/ti.json
  data/gloomhaven/enhancements.json
  src/__tests__/components/ability-cards/ability-card.test.tsx
  src/__tests__/components/ability-cards/enhancements/enhancements-autocomplete-input.test.tsx
  src/__tests__/components/ability-cards/enhancements/enhancements-autocomplete.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/utils.ts
  src/components/ability-cards/ability-card.tsx
  src/components/ability-cards/enhancements/enhancements-autocomplete-input.tsx
  src/components/ability-cards/enhancements/enhancements-autocomplete.tsx
  src/components/ability-cards/enhancements/enhancements.tsx
  src/types/data.d.ts
  src/types/types.d.ts
Labels: test, source

test: add e2e tests for enhanced ability card images
  cypress/e2e/ability-cards/enhancements.spec.tsx
Labels: test

feat: save gained enhancements in shareable link
  cypress/e2e/share.spec.tsx
  src/__tests__/services/codec.test.ts
  src/__tests__/services/deserializer.test.ts
  src/__tests__/services/serializer.test.ts
  src/services/deserializer.ts
  src/services/serializer.ts
  src/types/types.d.ts
Labels: test, source

ci: update performance test and visual test urls
  lighthouserc.json
  percy.json
Labels: none

fix: resolve accessibility issue by increasing opacity of labels
  src/styles/theme.tsx
Labels: source

build: update dependencies
  package-lock.json
  package.json
Labels: dependencies

test: add e2e test for saving gained enhancements in shareable link
  cypress/e2e/share.spec.tsx
Labels: test

refactor: convert perk to standard data asset
  data/gloomhaven/classes/br.json
  data/gloomhaven/classes/ch.json
  data/gloomhaven/classes/mt.json
  data/gloomhaven/classes/sc.json
  data/gloomhaven/classes/sw.json
  data/gloomhaven/classes/ti.json
  src/__tests__/components/perks/attack-modifiers-grid.test.tsx
  src/__tests__/components/perks/attack-modifiers.test.tsx
  src/__tests__/components/perks/perk-label.test.tsx
  src/__tests__/components/perks/perk-list.test.tsx
  src/__tests__/components/perks/rich-perk-description.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/services/character.test.ts
  src/__tests__/utils.ts
  src/components/perks/perk-label.tsx
  src/components/perks/perk-list.tsx
  src/components/perks/rich-perk-description.tsx
  src/services/character.ts
  src/services/deserializer.ts
  src/services/serializer.ts
  src/types/data.d.ts
Labels: test, source

refactor: convert perk to standard data asset (#194)
  data/gloomhaven/classes/br.json
  data/gloomhaven/classes/ch.json
  data/gloomhaven/classes/mt.json
  data/gloomhaven/classes/sc.json
  data/gloomhaven/classes/sw.json
  data/gloomhaven/classes/ti.json
  src/__tests__/components/perks/attack-modifiers-grid.test.tsx
  src/__tests__/components/perks/attack-modifiers.test.tsx
  src/__tests__/components/perks/perk-label.test.tsx
  src/__tests__/components/perks/perk-list.test.tsx
  src/__tests__/components/perks/rich-perk-description.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/services/character.test.ts
  src/__tests__/utils.ts
  src/components/perks/perk-label.tsx
  src/components/perks/perk-list.tsx
  src/components/perks/rich-perk-description.tsx
  src/services/character.ts
  src/services/deserializer.ts
  src/services/serializer.ts
  src/types/data.d.ts
Labels: test, source

fix: use correct aspect ratios for ability cards
  src/components/ability-cards/ability-card.tsx
  src/components/ability-cards/enhancements/enhancements-autocomplete-input.tsx
  src/components/ability-cards/enhancements/enhancements-autocomplete.tsx
  src/components/core/cards.tsx
  src/components/profile/profile.tsx
Labels: source

fix: render ability cards page tabs correctly on smaller screens
  src/components/ability-cards/ability-cards-tab-container.tsx
Labels: source

fix: improve responsive styles for ability cards and tabs (#196)
  src/components/ability-cards/ability-card.tsx
  src/components/ability-cards/ability-cards-tab-container.tsx
  src/components/ability-cards/enhancements/enhancements-autocomplete-input.tsx
  src/components/ability-cards/enhancements/enhancements-autocomplete.tsx
  src/components/core/cards.tsx
  src/components/profile/profile.tsx
Labels: source

feat: do not conditionally show/hide personal quest toggle
  cypress/e2e/profile.spec.tsx
  cypress/e2e/share.spec.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/profile/personal-quest.test.tsx
  src/components/profile/personal-quest.tsx
  src/hooks/app-settings.tsx
  src/types/types.d.ts
Labels: test, source

feat: reverse personal quest switch to hide instead of show
  cypress/e2e/profile.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/profile/personal-quest.test.tsx
  src/components/profile/personal-quest.tsx
  src/hooks/app-settings.tsx
  src/types/types.d.ts
Labels: test, source

fix: update visual test snapshot config
  percy.json
Labels: none

feat: improve personal quest toggle (#197)
  cypress/e2e/profile.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  percy.json
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/profile/personal-quest.test.tsx
  src/components/profile/personal-quest.tsx
  src/hooks/app-settings.tsx
  src/types/types.d.ts
Labels: test, source

chore: add error boundary for client-side errors
  package-lock.json
  package.json
  src/__tests__/components/error/error-template.test.tsx
  src/__tests__/components/header/header.test.tsx
  src/components/error/error-template.tsx
  src/components/header/header.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
Labels: test, source, dependencies

chore: add 404 page
  src/__tests__/pages/404.test.tsx
  src/pages/404.tsx
Labels: test, source

chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies

chore: improve error handling (#199)
  package-lock.json
  package.json
  src/__tests__/components/error/error-template.test.tsx
  src/__tests__/components/header/header.test.tsx
  src/__tests__/pages/404.test.tsx
  src/components/error/error-template.tsx
  src/components/header/header.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
Labels: test, source, dependencies

ci: update setup-node and checkout workflow actions to v3
  .github/workflows/e2e-test.yml
  .github/workflows/performance-checks.yml
  .github/workflows/visual-test.yml
Labels: ci

ci: use node v18.13.0
  .nvmrc
Labels: none

ci: update workflow config (#200)
  .github/workflows/e2e-test.yml
  .github/workflows/performance-checks.yml
  .github/workflows/visual-test.yml
  .nvmrc
Labels: ci

feat: convert enhancements autocomplete to select box
  cypress/e2e/ability-cards/enhancements.spec.tsx
  cypress/e2e/profile.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  src/__tests__/components/ability-cards/enhancements/enhancements-autocomplete-input.test.tsx
  src/__tests__/components/ability-cards/enhancements/enhancements-select.test.tsx
  src/components/ability-cards/enhancements/enhancements-autocomplete-input.tsx
  src/components/ability-cards/enhancements/enhancements-autocomplete.tsx
  src/components/ability-cards/enhancements/enhancements-select.tsx
  src/components/ability-cards/enhancements/enhancements.tsx
  src/pages/_app.tsx
Labels: test, source

feat: convert enhancements autocomplete to select (#201)
  cypress/e2e/ability-cards/enhancements.spec.tsx
  cypress/e2e/profile.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  src/__tests__/components/ability-cards/enhancements/enhancements-autocomplete-input.test.tsx
  src/__tests__/components/ability-cards/enhancements/enhancements-select.test.tsx
  src/components/ability-cards/enhancements/enhancements-autocomplete-input.tsx
  src/components/ability-cards/enhancements/enhancements-autocomplete.tsx
  src/components/ability-cards/enhancements/enhancements-select.tsx
  src/components/ability-cards/enhancements/enhancements.tsx
  src/pages/_app.tsx
Labels: test, source

feat: add settings drawer and report an issue link
  cypress/e2e/settings.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  percy.json
  src/__tests__/components/header/header.test.tsx
  src/__tests__/components/header/settings-button.test.tsx
  src/__tests__/components/settings/settings-drawer.test.tsx
  src/components/header/copy-link-button.tsx
  src/components/header/header.tsx
  src/components/header/settings-button.tsx
  src/components/settings/settings-drawer.tsx
  src/styles/theme.tsx
Labels: test, source

feat: add settings drawer and report an issue link (#202)
  cypress/e2e/settings.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  percy.json
  src/__tests__/components/header/header.test.tsx
  src/__tests__/components/header/settings-button.test.tsx
  src/__tests__/components/settings/settings-drawer.test.tsx
  src/components/header/copy-link-button.tsx
  src/components/header/header.tsx
  src/components/header/settings-button.tsx
  src/components/settings/settings-drawer.tsx
  src/styles/theme.tsx
Labels: test, source

refactor: apply gained perks to attack modifier deck prior to separating into base/class cards
  package-lock.json
  package.json
  src/__tests__/components/perks/attack-modifiers-grid.test.tsx
  src/__tests__/components/perks/attack-modifiers.test.tsx
  src/components/perks/attack-modifiers-grid.tsx
  src/components/perks/attack-modifiers.tsx
Labels: test, source, dependencies

feat: only apply a perk with removals if the card to remove exists in the attack modifier deck
  src/__tests__/components/perks/attack-modifiers.test.tsx
  src/components/perks/attack-modifiers.tsx
Labels: test, source

feat: handle conditional perks (#203)
  package-lock.json
  package.json
  src/__tests__/components/perks/attack-modifiers-grid.test.tsx
  src/__tests__/components/perks/attack-modifiers.test.tsx
  src/components/perks/attack-modifiers-grid.tsx
  src/components/perks/attack-modifiers.tsx
Labels: test, source, dependencies

chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies

ci: update dependabot config
  .github/dependabot.yml
Labels: ci

ci: update dependabot config
  .github/dependabot.yml
Labels: ci

chore: update dependencies (#209)
  .github/dependabot.yml
  package-lock.json
  package.json
Labels: ci, dependencies

feat: add equip slot icons in items autocomplete
  cypress/e2e/items.spec.tsx
  data/gloomhaven/items.json
  percy.json
  src/components/items/items-autocomplete.tsx
  src/types/data.d.ts
Labels: test, source

ci: add visual test for items autocomplete
  percy.json
Labels: none

ci: update cypress github action
  .github/workflows/e2e-test.yml
Labels: ci

ci: update cypress github action
  .github/workflows/e2e-test.yml
Labels: ci

ci: update cypress github action
  .github/workflows/e2e-test.yml
Labels: ci

ci: update cypress github action
  .github/workflows/e2e-test.yml
Labels: ci

.github/labeler.yml:

documentation:
  - README.md
  - docs/**/*

test:
  - src/**/*.test.*
  - src/**/*.snap
  - cypress/**/*

source:
  - src/**/*

ci:
  - .github/**/*

dependencies:
  - package-lock.json
