Repository ceva24/havenplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, ci, dependencies

.github/labeler.yml:

documentation:
  - README.md
  - docs/**/*

test:
  - src/**/*.test.*
  - src/**/*.snap
  - cypress/**/*

source:
  - src/**/*

ci:
  - .github/**/*

dependencies:
  - package-lock.json

feat: alternate character mat and personal quest using switch
  .gitignore
  cypress/e2e/profile.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/profile/personal-quest.test.tsx
  src/__tests__/components/profile/profile.test.tsx
  src/__tests__/components/settings/prosperity-slider.test.tsx
  src/__tests__/hooks/app-settings.test.tsx
  src/components/header/header.tsx
  src/components/profile/character-details.tsx
  src/components/profile/character-mat.tsx
  src/components/profile/personal-quest-switch.tsx
  src/components/profile/personal-quest.tsx
  src/components/profile/profile.tsx
  src/hooks/use-app-settings.tsx
  src/types/types.d.ts
Labels: test, source

chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies

refactor: move theme to src folder
  jest.config.js
  src/components/core/button.tsx
  src/pages/_app.tsx
  src/theme.tsx
  tsconfig.json
Labels: source

feat: add visual tests for personal quest and browse items dialog
  percy.json
  src/components/core/button.tsx
  src/components/items/items.tsx
Labels: source

refactor: move setup-jest to tests folder
  jest.config.js
  src/__tests__/setup-jest.ts
Labels: source

refactor: move setup-jest to tests folder
  jest.config.js
Labels: none

feat: refactoring plus toggle character mat and personal quest using switch (#226)
  .gitignore
  cypress/e2e/profile.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  jest.config.js
  package-lock.json
  package.json
  percy.json
  src/__tests__/components/app-container.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/profile/personal-quest.test.tsx
  src/__tests__/components/profile/profile.test.tsx
  src/__tests__/components/settings/prosperity-slider.test.tsx
  src/__tests__/hooks/app-settings.test.tsx
  src/__tests__/setup-jest.ts
  src/__tests__/utils.tsx
  src/components/ability-cards/ability-cards-tab-container.tsx
  src/components/app-container.tsx
  src/components/core/button.tsx
  src/components/header/header.tsx
  src/components/header/settings-button.tsx
  src/components/items/items-autocomplete.tsx
  src/components/items/items-dialog.tsx
  src/components/items/items.tsx
  src/components/profile/character-details.tsx
  src/components/profile/character-mat.tsx
  src/components/profile/class-select.tsx
  src/components/profile/personal-quest-switch.tsx
  src/components/profile/personal-quest.tsx
  src/components/profile/profile.tsx
  src/components/settings/prosperity-slider.tsx
  src/components/tabs/tab-container.tsx
  src/hooks/use-app-settings.tsx
  src/hooks/use-clear-query-string.ts
  src/pages/_app.tsx
  src/pages/index.tsx
  src/theme.tsx
  src/types/types.d.ts
  tsconfig.json
Labels: test, source, dependencies

feat: show a load character dialog before loading a character with spoilers
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  percy.json
  src/__tests__/components/spoiler/load-character-dialog.test.tsx
  src/__tests__/components/spoiler/spoiler.test.tsx
  src/__tests__/hooks/app-settings.test.tsx
  src/__tests__/hooks/use-app-settings.test.tsx
  src/__tests__/hooks/use-clear-query-string.test.tsx
  src/__tests__/pages/index.test.tsx
  src/__tests__/services/spoiler.test.ts
  src/__tests__/utils.tsx
  src/components/spoiler/load-character-dialog.tsx
  src/components/spoiler/spoiler.tsx
  src/constants.ts
  src/hooks/use-app-settings.tsx
  src/hooks/use-clear-query-string.ts
  src/pages/index.tsx
  src/services/spoiler.ts
Labels: test, source

feat: show a load character dialog before loading a character with spoilers (#227)
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  percy.json
  src/__tests__/components/spoiler/load-character-dialog.test.tsx
  src/__tests__/components/spoiler/spoiler.test.tsx
  src/__tests__/hooks/app-settings.test.tsx
  src/__tests__/hooks/use-app-settings.test.tsx
  src/__tests__/hooks/use-clear-query-string.test.tsx
  src/__tests__/pages/index.test.tsx
  src/__tests__/services/spoiler.test.ts
  src/__tests__/utils.tsx
  src/components/spoiler/load-character-dialog.tsx
  src/components/spoiler/spoiler.tsx
  src/constants.ts
  src/hooks/use-app-settings.tsx
  src/hooks/use-clear-query-string.ts
  src/pages/index.tsx
  src/services/spoiler.ts
Labels: test, source

feat: show item spoiler hints in the items autocomplete and dialog
  cypress/e2e/items.spec.tsx
  cypress/e2e/share.spec.tsx
  src/__tests__/components/ability-cards/ability-cards.test.tsx
  src/__tests__/components/app-container.test.tsx
  src/__tests__/components/header/header.test.tsx
  src/__tests__/components/header/settings-button.test.tsx
  src/__tests__/components/items/items-autocomplete.test.tsx
  src/__tests__/components/items/items-dialog.test.tsx
  src/__tests__/components/items/items.test.tsx
  src/__tests__/components/profile/character-details.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/profile/personal-quest.test.tsx
  src/__tests__/components/profile/profile.test.tsx
  src/__tests__/components/settings/prosperity-slider.test.tsx
  src/__tests__/components/settings/settings-drawer.test.tsx
  src/__tests__/components/spoiler/load-character-dialog.test.tsx
  src/__tests__/hooks/use-app-settings.test.tsx
  src/__tests__/pages/index.test.tsx
  src/__tests__/utils.tsx
  src/components/ability-cards/hand/edit-hand-dialog.tsx
  src/components/core/full-screen-dialog.tsx
  src/components/items/items-autocomplete.tsx
  src/components/items/items-dialog.tsx
  src/constants.ts
  src/hooks/use-app-settings.tsx
  src/pages/index.tsx
Labels: test, source

feat: show item spoiler hints in the items autocomplete and dialog (#228)
  cypress/e2e/items.spec.tsx
  cypress/e2e/share.spec.tsx
  src/__tests__/components/ability-cards/ability-cards.test.tsx
  src/__tests__/components/app-container.test.tsx
  src/__tests__/components/header/header.test.tsx
  src/__tests__/components/header/settings-button.test.tsx
  src/__tests__/components/items/items-autocomplete.test.tsx
  src/__tests__/components/items/items-dialog.test.tsx
  src/__tests__/components/items/items.test.tsx
  src/__tests__/components/profile/character-details.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/profile/personal-quest.test.tsx
  src/__tests__/components/profile/profile.test.tsx
  src/__tests__/components/settings/prosperity-slider.test.tsx
  src/__tests__/components/settings/settings-drawer.test.tsx
  src/__tests__/components/spoiler/load-character-dialog.test.tsx
  src/__tests__/hooks/use-app-settings.test.tsx
  src/__tests__/pages/index.test.tsx
  src/__tests__/utils.tsx
  src/components/ability-cards/hand/edit-hand-dialog.tsx
  src/components/core/full-screen-dialog.tsx
  src/components/items/items-autocomplete.tsx
  src/components/items/items-dialog.tsx
  src/constants.ts
  src/hooks/use-app-settings.tsx
  src/pages/index.tsx
Labels: test, source

chore: remove unnecessary setAppSettings references
  src/components/header/settings-button.tsx
  src/components/items/items-autocomplete.tsx
Labels: source

refactor: move image url logic to image service
  src/__tests__/components/core/image.test.tsx
  src/__tests__/services/image.test.ts
  src/components/core/image.tsx
  src/services/image.ts
Labels: test, source

refactor: move item logic to item service
  src/__tests__/components/items/items-autocomplete.test.tsx
  src/__tests__/components/items/items-dialog.test.tsx
  src/__tests__/services/items.test.ts
  src/components/items/items-autocomplete.tsx
  src/components/items/items-dialog.tsx
  src/services/items.ts
Labels: test, source

refactor: move logic from character service to perk service and profile service
  src/__tests__/components/perks/perk-list.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/services/character.test.ts
  src/__tests__/services/perk.test.ts
  src/__tests__/services/profile.test.ts
  src/__tests__/utils.tsx
  src/components/perks/perk-label.tsx
  src/components/perks/perk-list.tsx
  src/components/profile/character-details.tsx
  src/components/profile/class-select.tsx
  src/components/profile/experience-field.tsx
  src/constants.ts
  src/services/character.ts
  src/services/perk.ts
  src/services/profile.ts
Labels: test, source

refactor: move perks and attack modifier logic to separate services
  src/__tests__/components/perks/attack-modifiers.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/services/attack-modifier.test.ts
  src/__tests__/services/perk.test.ts
  src/__tests__/utils.tsx
  src/components/perks/attack-modifiers-grid.tsx
  src/components/perks/attack-modifiers.tsx
  src/components/profile/class-select.tsx
  src/constants.ts
  src/services/attack-modifier.ts
  src/services/battle-goal.ts
  src/services/perk.ts
Labels: test, source

refactor: group perks services under a subdirectory
  src/__tests__/components/perks/perk-list.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/services/perks/attack-modifier.test.ts
  src/__tests__/services/perks/battle-goal.test.ts
  src/__tests__/services/perks/perk.test.ts
  src/__tests__/utils.tsx
  src/components/perks/attack-modifiers-grid.tsx
  src/components/perks/attack-modifiers.tsx
  src/components/perks/perk-label.tsx
  src/components/perks/perk-list.tsx
  src/components/profile/class-select.tsx
  src/constants.ts
  src/services/perks/attack-modifier.ts
  src/services/perks/battle-goal.ts
  src/services/perks/perk.ts
Labels: test, source

refactor: move image service under the /core directory
  src/__tests__/services/image.test.ts
  src/components/core/image.tsx
  src/services/core/image.ts
Labels: test, source

refactor: move ability card logic from character service to ability card services
  src/__tests__/components/ability-cards/deck/unlockable-ability-card.test.tsx
  src/__tests__/services/character.test.ts
  src/__tests__/services/core/image.test.ts
  src/components/ability-cards/deck/unlockable-ability-card.tsx
  src/components/ability-cards/hand/edit-hand-dialog.tsx
  src/components/profile/experience-field.tsx
  src/services/ability-cards/ability-card.ts
  src/services/ability-cards/deck.ts
  src/services/ability-cards/hand.ts
Labels: test, source

refactor: move codec services under share directory
  src/__tests__/components/header/share-button.test.tsx
  src/__tests__/pages/index.test.tsx
  src/__tests__/services/share/codec.test.ts
  src/__tests__/services/share/deserializer.test.ts
  src/__tests__/services/share/serializer.test.ts
  src/components/header/share-button.tsx
  src/pages/index.tsx
  src/services/share/codec.ts
  src/services/share/deserializer.ts
  src/services/share/serializer.ts
Labels: test, source

test: re-add character service tests for ability cards
  src/__tests__/services/ability-cards/deck.test.ts
  src/__tests__/services/ability-cards/hand.test.ts
Labels: test, source

refactor: move ability card logic to ability card services
  src/__tests__/components/ability-cards/ability-card.test.tsx
  src/__tests__/components/ability-cards/deck/unlockable-ability-card.test.tsx
  src/__tests__/components/ability-cards/enhancements/enhancements-select.test.tsx
  src/__tests__/services/ability-cards/deck.test.ts
  src/__tests__/services/ability-cards/enhancement.test.ts
  src/__tests__/services/ability-cards/hand.test.ts
  src/__tests__/services/core/image.test.ts
  src/__tests__/utils.test.ts
  src/__tests__/utils.tsx
  src/components/ability-cards/ability-card.tsx
  src/components/ability-cards/deck/deck.tsx
  src/components/ability-cards/deck/unlockable-ability-card.tsx
  src/components/ability-cards/enhancements/enhancements-select.tsx
  src/components/ability-cards/hand/edit-hand-dialog.tsx
  src/services/ability-cards/deck.ts
  src/services/ability-cards/enhancement.ts
  src/services/ability-cards/hand.ts
  src/utils.ts
Labels: test, source

refactor: move reset character class logic to profile service
  src/__tests__/components/profile/experience-field.test.tsx
  src/__tests__/services/profile.test.ts
  src/components/profile/experience-field.tsx
  src/components/settings/settings-drawer.tsx
  src/services/profile.ts
Labels: test, source

test: add tests for ability card service
  src/__tests__/services/ability-cards/ability-card.test.ts
  src/services/ability-cards/ability-card.ts
Labels: test, source

refactor: rename load character dialog interface
  src/components/spoiler/load-character-dialog.tsx
Labels: source

feat: specify secondary text color
  src/theme.tsx
Labels: source

chore: remove unnecessary attribute of app container
  src/components/app-container.tsx
Labels: source

feat: move settings to a dialog
  cypress/e2e/settings.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  src/__tests__/components/settings/settings-dialog.test.tsx
  src/components/header/settings-button.tsx
  src/components/settings/prosperity-slider.tsx
  src/components/settings/settings-dialog.tsx
  src/components/settings/settings-drawer.tsx
  src/components/spoiler/load-character-dialog.tsx
Labels: test, source

chore: use default dialog positions
  src/components/header/share-dialog.tsx
  src/components/settings/settings-dialog.tsx
  src/components/spoiler/load-character-dialog.tsx
Labels: source

feat: move settings to a dialog (#231)
  cypress/e2e/settings.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  src/__tests__/components/settings/settings-dialog.test.tsx
  src/components/app-container.tsx
  src/components/header/settings-button.tsx
  src/components/header/share-dialog.tsx
  src/components/settings/prosperity-slider.tsx
  src/components/settings/settings-dialog.tsx
  src/components/settings/settings-drawer.tsx
  src/components/spoiler/load-character-dialog.tsx
  src/theme.tsx
Labels: test, source

chore: increase size of icons on ability cards
  src/components/ability-cards/disabled-ability-card.tsx
  src/components/ability-cards/toggleable-ability-card.tsx
Labels: source

chore: improve responsiveness of edit hand dialog title
  cypress/e2e/ability-cards/hand.spec.tsx
  src/__tests__/components/ability-cards/hand/edit-hand-dialog.test.tsx
  src/__tests__/components/core/full-screen-dialog.test.tsx
  src/components/core/full-screen-dialog.tsx
  src/components/header/header.tsx
Labels: test, source

test: add visual test for share dialog
  percy.json
  src/components/header/share-button.tsx
Labels: source

chore: improve responsiveness of attack modifier card counts
  src/components/perks/attack-modifiers-grid.tsx
Labels: source

feat: improve responsiveness of various elements (#232)
  cypress/e2e/ability-cards/hand.spec.tsx
  percy.json
  src/__tests__/components/ability-cards/hand/edit-hand-dialog.test.tsx
  src/__tests__/components/core/full-screen-dialog.test.tsx
  src/components/ability-cards/disabled-ability-card.tsx
  src/components/ability-cards/toggleable-ability-card.tsx
  src/components/core/full-screen-dialog.tsx
  src/components/header/header.tsx
  src/components/header/share-button.tsx
  src/components/perks/attack-modifiers-grid.tsx
Labels: test, source

feat: add random item designs and item group spoiler settings
  data/gloomhaven/item-groups.json
  data/gloomhaven/items.json
  src/__tests__/components/header/settings-button.test.tsx
  src/__tests__/components/items/items-dialog.test.tsx
  src/__tests__/components/load/load-character-dialog.test.tsx
  src/__tests__/components/load/spoiler.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/settings/item-groups.test.tsx
  src/__tests__/components/settings/prosperity-slider.test.tsx
  src/__tests__/components/settings/settings-dialog.test.tsx
  src/__tests__/services/items.test.ts
  src/__tests__/services/load.test.ts
  src/__tests__/services/settings.test.ts
  src/__tests__/services/share/deserializer.test.ts
  src/__tests__/utils.tsx
  src/components/header/settings-button.tsx
  src/components/items/items-autocomplete.tsx
  src/components/items/items-dialog.tsx
  src/components/load/load-character-dialog.tsx
  src/components/load/spoiler.tsx
  src/components/settings/item-groups.tsx
  src/components/settings/prosperity-slider.tsx
  src/components/settings/settings-dialog.tsx
  src/constants.ts
  src/loaders/item-groups.ts
  src/pages/index.tsx
  src/services/items.ts
  src/services/load.ts
  src/services/settings.ts
  src/services/share/deserializer.ts
  src/services/spoiler.ts
  src/types/data.d.ts
  src/types/types.d.ts
Labels: test, source

test: add e2e tests for item group settings
  cypress/e2e/items.spec.tsx
  cypress/e2e/settings.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
Labels: test

refactor: move item spoiler settings under items property
  src/__tests__/components/header/settings-button.test.tsx
  src/__tests__/components/items/items-dialog.test.tsx
  src/__tests__/components/load/load-character-dialog.test.tsx
  src/__tests__/components/settings/item-groups.test.tsx
  src/__tests__/components/settings/prosperity-slider.test.tsx
  src/__tests__/services/items.test.ts
  src/__tests__/services/load.test.ts
  src/__tests__/services/settings.test.ts
  src/__tests__/utils.tsx
  src/components/load/load-character-dialog.tsx
  src/components/settings/item-groups.tsx
  src/components/settings/prosperity-slider.tsx
  src/constants.ts
  src/services/items.ts
  src/services/load.ts
  src/services/settings.ts
  src/types/types.d.ts
Labels: test, source

fix: improve responsiveness of prosperity slider
  src/components/settings/prosperity-slider.tsx
Labels: source

feat: add random item designs (#255)
  cypress/e2e/items.spec.tsx
  cypress/e2e/settings.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  data/gloomhaven/item-groups.json
  data/gloomhaven/items.json
  src/__tests__/components/header/settings-button.test.tsx
  src/__tests__/components/items/items-dialog.test.tsx
  src/__tests__/components/load/load-character-dialog.test.tsx
  src/__tests__/components/load/spoiler.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/settings/item-groups.test.tsx
  src/__tests__/components/settings/prosperity-slider.test.tsx
  src/__tests__/components/settings/settings-dialog.test.tsx
  src/__tests__/services/items.test.ts
  src/__tests__/services/load.test.ts
  src/__tests__/services/settings.test.ts
  src/__tests__/services/share/deserializer.test.ts
  src/__tests__/services/spoiler.test.ts
  src/__tests__/utils.tsx
  src/components/header/settings-button.tsx
  src/components/items/items-autocomplete.tsx
  src/components/items/items-dialog.tsx
  src/components/load/load-character-dialog.tsx
  src/components/load/spoiler.tsx
  src/components/settings/item-groups.tsx
  src/components/settings/prosperity-slider.tsx
  src/components/settings/settings-dialog.tsx
  src/constants.ts
  src/loaders/item-groups.ts
  src/pages/index.tsx
  src/services/items.ts
  src/services/load.ts
  src/services/settings.ts
  src/services/share/deserializer.ts
  src/services/spoiler.ts
  src/types/data.d.ts
  src/types/types.d.ts
Labels: test, source
