Repository ceva24/havenplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, ci, dependencies

docs: add licence badge to README
  docs/README.md
Labels: documentation

docs: update link in README
  docs/README.md
Labels: documentation

docs: add cypress tests badge to README
  docs/README.md
Labels: documentation

docs: update badge labels in README
  docs/README.md
Labels: documentation

docs: add code coverage badge to README
  docs/README.md
Labels: documentation

docs: add status badge for codeql analysis to README
  docs/README.md
Labels: documentation

docs: update README (#319)
  docs/README.md
Labels: documentation

fix: resolve issue with regex and urls
  package-lock.json
  package.json
  src/__tests__/client/services/ability-cards/ability-card.test.ts
  src/__tests__/setup-jest.ts
Labels: test, source, dependencies

fix: resolve issue with regex and urls (#320)
  package-lock.json
  package.json
  src/__tests__/client/services/ability-cards/ability-card.test.ts
  src/__tests__/setup-jest.ts
Labels: test, source, dependencies

ci: configure cypress parallelisation
  .github/workflows/e2e-test.yml
Labels: ci

ci: add group and tag to cypress runs
  .github/workflows/e2e-test.yml
Labels: ci

fix: issue with ability cards being incorrectly unlockable
  src/__tests__/client/services/ability-cards/deck.test.ts
  src/client/services/ability-cards/deck.ts
Labels: test, source

fix: issue with ability cards being incorrectly unlockable (#322)
  src/__tests__/client/services/ability-cards/deck.test.ts
  src/client/services/ability-cards/deck.ts
Labels: test, source

perf: reduce size of local fonts
  public/fonts/HTOWERT.TTF
  public/fonts/HTOWERT.woff2
  public/fonts/PirataOne-Gloomhaven.ttf
  public/fonts/PirataOne-Gloomhaven.woff2
  public/fonts/majalla.ttf
  public/fonts/majalla.woff2
  src/client/themes/default.tsx
Labels: source

perf: reduce size of local fonts (#324)
  public/fonts/HTOWERT.TTF
  public/fonts/HTOWERT.woff2
  public/fonts/PirataOne-Gloomhaven.ttf
  public/fonts/PirataOne-Gloomhaven.woff2
  public/fonts/majalla.ttf
  public/fonts/majalla.woff2
  src/client/themes/default.tsx
Labels: source

ci: skip installation step in cypress action
  .github/workflows/e2e-test.yml
Labels: ci

ci: re-add installation step in cypress action
  .github/workflows/e2e-test.yml
Labels: ci

ci: temp update cypress command to run share spec
  package.json
Labels: none

ci: revert temp e2e command change
  package.json
Labels: none

ci: add temp spec parameter to cy github action
  .github/workflows/e2e-test.yml
Labels: ci

ci: temp slow down load character dialog in e2e tests
  cypress/support/commands.ts
Labels: test

test: wait for api requests before confirming load character dialog
  cypress/support/commands.ts
Labels: test

test: wait for page to load before confirming load character dialog
  cypress/support/commands.ts
Labels: test

test: wait for page to load before confirming load character dialog
  cypress/support/commands.ts
Labels: test

test: wait for page to load before confirming load character dialog
  cypress/support/commands.ts
Labels: test

ci: update cypress github action
  .github/workflows/e2e-test.yml
Labels: ci

ci: parallelise e2e tests
  .github/workflows/e2e-test.yml
  cypress.config.ts
  cypress/e2e/index.spec.tsx
  package-lock.json
  package.json
Labels: test, ci, dependencies

test: wait for page to load before confirming load character dialog
  cypress/support/commands.ts
Labels: test

test: trim down share e2e spec
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
Labels: test

ci: improve e2e test runs (#332)
  .github/workflows/e2e-test.yml
  cypress.config.ts
  cypress/e2e/index.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  package-lock.json
  package.json
Labels: test, ci, dependencies

feat: add support for items that apply attack modifier deck effects
  cypress/e2e/perks.spec.tsx
  data/gloomhaven/items.json
  src/__tests__/client/services/items.test.ts
  src/__tests__/create-test-fixtures.ts
  src/client/components/perks/attack-modifiers.tsx
  src/client/services/items.ts
  src/client/services/perks/perk.ts
  src/types/data.d.ts
Labels: test, source

test: update end-to-end test
  cypress/e2e/perks.spec.tsx
Labels: test

feat: add support for items that apply attack modifier deck effects (#330)
  cypress/e2e/perks.spec.tsx
  data/gloomhaven/items.json
  src/__tests__/client/services/items.test.ts
  src/__tests__/create-test-fixtures.ts
  src/client/components/perks/attack-modifiers.tsx
  src/client/services/items.ts
  src/client/services/perks/perk.ts
  src/types/data.d.ts
Labels: test, source

fix: issue when loading a character with items only from non-prosperity item groups
  src/__tests__/server/services/settings.test.ts
  src/server/services/settings.ts
Labels: test, source

fix: issue when loading a character with items from non-prosperity item groups only (#334)
  src/__tests__/server/services/settings.test.ts
  src/server/services/settings.ts
Labels: test, source

fix: el class perk data
  data/gloomhaven/classes/el.json
Labels: none

fix: el class perk data (#335)
  data/gloomhaven/classes/el.json
Labels: none

fix: el character class perk data
  data/gloomhaven/classes/el.json
Labels: none

fix: el character class perk data (#336)
  data/gloomhaven/classes/el.json
Labels: none

chore: update .nvmrc
  .nvmrc
Labels: none

.github/labeler.yml:

documentation:
  - README.md
  - docs/**/*

test:
  - src/**/*.test.*
  - src/**/*.snap
  - cypress/**/*

source:
  - src/**/*

ci:
  - .github/**/*

dependencies:
  - package-lock.json
