Repository ceva24/havenplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, ci, dependencies

.github/labeler.yml:

documentation:
  - README.md
  - docs/**/*

test:
  - src/**/*.test.*
  - src/**/*.snap
  - cypress/**/*

source:
  - src/**/*

ci:
  - .github/**/*

dependencies:
  - package-lock.json

docs: update README
  docs/README.md
Labels: documentation

docs: update README
  docs/README.md
Labels: documentation

feat: show higher quality images in webp format (#124)
  data/character-classes.json
  data/items.json
  data/personal-quests.json
  docs/README.md
  src/__tests__/utils/images.test.ts
  src/utils/images.ts
Labels: documentation, test, source

feat: remove footer
  cypress/e2e/index.spec.tsx
  src/__tests__/components/footer.test.tsx
  src/components/footer.tsx
  src/pages/index.tsx
Labels: test, source

feat: convert spoiler checkbox to switch
  src/__tests__/components/header.test.tsx
  src/components/header.tsx
Labels: test, source

feat: update header and footer (#125)
  cypress/e2e/index.spec.tsx
  src/__tests__/components/footer.test.tsx
  src/__tests__/components/header.test.tsx
  src/components/footer.tsx
  src/components/header.tsx
  src/pages/index.tsx
Labels: test, source

feat: add fallback image types when webp is not supported
  data/character-classes.json
  public/character-icons/gloomhaven/gh-brute.png
  public/character-icons/gloomhaven/gh-cragheart.png
  public/character-icons/gloomhaven/gh-mindthief.png
  public/character-icons/gloomhaven/gh-scoundrel.png
  public/character-icons/gloomhaven/gh-spellweaver.png
  public/character-icons/gloomhaven/gh-tinkerer.png
  src/__tests__/components/app-image.test.tsx
  src/__tests__/utils/images.test.ts
  src/components/app-image.tsx
  src/components/cards.tsx
  src/components/profile/character-details.tsx
  src/components/profile/character-mat.tsx
  src/components/profile/personal-quest.tsx
  src/utils/images.ts
Labels: test, source

fix: correct clickable area for flipping character mat
  src/components/tabs/profile.tsx
Labels: source

feat: convert all images to web quality with fallbacks (#126)
  data/character-classes.json
  public/character-icons/gloomhaven/gh-brute.png
  public/character-icons/gloomhaven/gh-cragheart.png
  public/character-icons/gloomhaven/gh-mindthief.png
  public/character-icons/gloomhaven/gh-scoundrel.png
  public/character-icons/gloomhaven/gh-spellweaver.png
  public/character-icons/gloomhaven/gh-tinkerer.png
  src/__tests__/components/app-image.test.tsx
  src/__tests__/utils/images.test.ts
  src/components/app-image.tsx
  src/components/cards.tsx
  src/components/profile/character-details.tsx
  src/components/profile/character-mat.tsx
  src/components/profile/personal-quest.tsx
  src/components/tabs/profile.tsx
  src/utils/images.ts
Labels: test, source

fix: update tests to work with Jest 28
  cypress/tsconfig.json
  package-lock.json
  package.json
  src/__tests__/pages/api/encode-character.test.ts
  src/__tests__/pages/index.test.tsx
  src/__tests__/services/character.test.ts
Labels: test, source, dependencies

refactor: extend @tsconfig shared tsconfig files
  tsconfig.json
Labels: none

fix: re-add baseUrl property to tsconfig files
  cypress/tsconfig.json
  tsconfig.json
Labels: test

docs: update contribution guidelines
  docs/CONTRIBUTING.md
Labels: documentation

fix: use full path when loading fallback images
  src/__tests__/components/app-image.test.tsx
  src/components/app-image.tsx
Labels: test, source

feat: make the page header a link
  src/__tests__/components/header.test.tsx
  src/components/header.tsx
Labels: test, source

style: header and app-image formatting
  src/__tests__/components/app-image.test.tsx
  src/components/header.tsx
Labels: test, source

feat: add ability cards tab and 1/x cards for brute and scoundrel
  data/character-classes.json
  src/__tests__/components/tabs/tab-container.test.tsx
  src/components/ability-cards/card-group.tsx
  src/components/cards.tsx
  src/components/tabs/ability-cards.tsx
  src/components/tabs/tab-container.tsx
  src/components/tabs/tab-panel.tsx
  src/styles/theme.tsx
  src/types/types.d.ts
Labels: test, source

chore: remove unused ability card image back property
  data/character-classes.json
  src/types/types.d.ts
Labels: source

refactor: use groupBy to render ability cards by level
  package-lock.json
  package.json
  src/components/ability-cards/ability-card-group.tsx
  src/components/ability-cards/card-group.tsx
  src/components/tabs/ability-cards.tsx
Labels: source, dependencies

test: add ability card unit tests
  src/__tests__/components/ability-cards/ability-card-group.test.tsx
  src/__tests__/components/tabs/ability-cards.test.tsx
  src/__tests__/components/tabs/tab-panel.test.tsx
Labels: test, source

test: add percy snapshot for ability cards page
  percy.json
Labels: none

test: add ability card end to end tests
  cypress/e2e/ability-cards.spec.tsx
Labels: test

feat: add level 1/x cards for SW, TI, MT, CH
  data/character-classes.json
Labels: none

test: update visual test urls to use the same character
  percy.json
Labels: none

feat: display level 1/x ability cards (#129)
  cypress/e2e/ability-cards.spec.tsx
  data/character-classes.json
  package-lock.json
  package.json
  percy.json
  src/__tests__/components/ability-cards/ability-card-group.test.tsx
  src/__tests__/components/app-image.test.tsx
  src/__tests__/components/header.test.tsx
  src/__tests__/components/tabs/ability-cards.test.tsx
  src/__tests__/components/tabs/tab-container.test.tsx
  src/__tests__/components/tabs/tab-panel.test.tsx
  src/components/ability-cards/ability-card-group.tsx
  src/components/app-image.tsx
  src/components/cards.tsx
  src/components/header.tsx
  src/components/tabs/ability-cards.tsx
  src/components/tabs/tab-container.tsx
  src/components/tabs/tab-panel.tsx
  src/styles/theme.tsx
  src/types/types.d.ts
Labels: test, source, dependencies

docs: update README with list of unsupported games
  docs/README.md
Labels: documentation

feat: show character mat on small screens
  src/components/tabs/profile.tsx
Labels: source

feat: add BR level 2-9 cards
  data/character-classes.json
Labels: none

feat: display level 2-9 ability card groups in a grid
  src/components/tabs/ability-cards.tsx
Labels: source

test: add unit test for the order of ability card groups
  src/__tests__/components/tabs/ability-cards.test.tsx
Labels: test, source

feat: add level 2-9 cards for remaining starter classes
  data/character-classes.json
Labels: none

feat: add level 2-9 ability cards (#134)
  data/character-classes.json
  src/__tests__/components/tabs/ability-cards.test.tsx
  src/components/tabs/ability-cards.tsx
  src/components/tabs/profile.tsx
Labels: test, source

feat: add the ability to toggle ability cards as locked/unlocked
  src/__tests__/components/ability-cards/ability-card-group.test.tsx
  src/__tests__/components/ability-cards/selectable-ability-card.test.tsx
  src/__tests__/components/header.test.tsx
  src/__tests__/components/items/item-grid.test.tsx
  src/__tests__/components/items/item.test.tsx
  src/__tests__/components/items/items-autocomplete.test.tsx
  src/__tests__/components/profile/character-details.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/profile/personal-quest-autocomplete.test.tsx
  src/__tests__/components/profile/personal-quest.test.tsx
  src/__tests__/components/share/share-button.test.tsx
  src/__tests__/components/tabs/ability-cards.test.tsx
  src/__tests__/components/tabs/items.test.tsx
  src/__tests__/components/tabs/profile.test.tsx
  src/__tests__/components/tabs/tab-container.test.tsx
  src/__tests__/hooks/app-settings.test.tsx
  src/__tests__/pages/index.test.tsx
  src/__tests__/services/character.test.ts
  src/__tests__/services/serializer.test.ts
  src/components/ability-cards/ability-card-group.tsx
  src/components/ability-cards/selectable-ability-card.tsx
  src/components/tabs/ability-cards.tsx
  src/components/tabs/tab-container.tsx
  src/services/serializer.ts
  src/types/types.d.ts
  src/utils/constants.ts
Labels: test, source

test: add selectable ability card tests
  src/__tests__/components/ability-cards/selectable-ability-card.test.tsx
Labels: test, source

test: add selectable ability card group unit test
  src/__tests__/components/ability-cards/ability-card-group.test.tsx
Labels: test, source

test: add ability cards selectable groups unit tests
  src/__tests__/components/tabs/ability-cards.test.tsx
Labels: test, source

feat: use checkbox role to represent unlocked ability cards
  src/__tests__/components/ability-cards/ability-card-group.test.tsx
  src/__tests__/components/ability-cards/selectable-ability-card.test.tsx
  src/__tests__/components/tabs/ability-cards.test.tsx
  src/components/ability-cards/selectable-ability-card.tsx
Labels: test, source

chore: improve consistency of copy link button and items autocomplete components
  src/components/items/items-autocomplete.tsx
  src/components/share/copy-link-button.tsx
Labels: source

feat: make page heading a h1 element and update README
  docs/README.md
  src/components/header.tsx
Labels: documentation, source

feat: toggle character mat and selectable ability cards on space/enter
  docs/README.md
  src/components/ability-cards/selectable-ability-card.tsx
  src/components/profile/character-mat.tsx
  src/types/types.d.ts
Labels: documentation, source
