Repository ceva24/havenplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, ci, dependencies

feat: store character battle goal progress
  src/__tests__/utils.ts
  src/components/perks/battle-goal-progress.tsx
  src/components/perks/battle-goals.tsx
  src/components/perks/perks.tsx
  src/constants.ts
  src/services/serializer.ts
  src/types/types.d.ts
Labels: source

refactor: character battle goal progress
  src/__tests__/utils.ts
  src/components/perks/battle-goal-progress.tsx
  src/constants.ts
  src/services/serializer.ts
  src/types/types.d.ts
Labels: source

test: add tests for battle goal progress
  cypress/e2e/perks.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  src/__tests__/components/perks/battle-goal-progress.test.tsx
  src/__tests__/components/perks/perks.test.tsx
  src/components/perks/battle-goal-progress.tsx
Labels: test, source

feat: remove all battle goal group progress when clicking on the label
  cypress/e2e/perks.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  src/__tests__/components/perks/battle-goal-checkmark-group-label.test.tsx
  src/components/perks/battle-goal-checkmark-group-label.tsx
  src/components/perks/battle-goal-progress.tsx
Labels: test, source

feat: gain battle goal checkmark progress when clicking on the checkmark group label
  cypress/e2e/perks.spec.tsx
  src/components/perks/battle-goal-checkmark-group-label.tsx
  src/components/perks/battle-goal-progress.tsx
Labels: test, source

feat: save battle goal progress in a shareable link
  cypress/e2e/perks.spec.tsx
  cypress/e2e/share.spec.tsx
  lighthouserc.json
  percy.json
  src/__tests__/services/encoder.test.ts
  src/__tests__/services/serializer.test.ts
  src/services/serializer.ts
Labels: test, source

refactor: serializer into serializer/deserializer
  src/__tests__/components/header/share-button.test.tsx
  src/__tests__/pages/index.test.tsx
  src/__tests__/services/codec.test.ts
  src/__tests__/services/deserializer.test.ts
  src/__tests__/services/serializer.test.ts
  src/components/header/share-button.tsx
  src/pages/index.tsx
  src/services/codec.ts
  src/services/deserializer.ts
  src/services/serializer.ts
  src/types/types.d.ts
Labels: test, source

docs: update README.md
  docs/README.md
Labels: documentation

feat: add battle goal progress (#181)
  cypress/e2e/perks.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  docs/README.md
  lighthouserc.json
  percy.json
  src/__tests__/components/header/share-button.test.tsx
  src/__tests__/components/perks/battle-goal-checkmark-group-label.test.tsx
  src/__tests__/components/perks/battle-goal-progress.test.tsx
  src/__tests__/components/perks/perk-list.test.tsx
  src/__tests__/components/perks/perks.test.tsx
  src/__tests__/pages/index.test.tsx
  src/__tests__/services/codec.test.ts
  src/__tests__/services/deserializer.test.ts
  src/__tests__/services/encoder.test.ts
  src/__tests__/services/serializer.test.ts
  src/__tests__/utils.ts
  src/components/header/share-button.tsx
  src/components/perks/battle-goal-checkmark-group-label.tsx
  src/components/perks/battle-goal-progress.tsx
  src/components/perks/perks.tsx
  src/constants.ts
  src/pages/index.tsx
  src/services/codec.ts
  src/services/deserializer.ts
  src/services/serializer.ts
  src/types/types.d.ts
Labels: documentation, test, source

refactor: rename experience field function for clarity
  src/components/profile/experience-field.tsx
Labels: source

chore: update all dependencies to latest versions
  package-lock.json
  package.json
Labels: dependencies

chore: refactor plus update dependencies (#183)
  package-lock.json
  package.json
  src/components/profile/experience-field.tsx
Labels: source, dependencies

feat: replace ability card show hand switch with tabs
  cypress/e2e/ability-cards/hand.spec.tsx
  cypress/e2e/profile.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  src/__tests__/components/ability-cards/ability-cards.test.tsx
  src/__tests__/components/ability-cards/hand/edit-hand-dialog.test.tsx
  src/__tests__/components/ability-cards/hand/hand.test.tsx
  src/__tests__/components/ability-cards/toggleable-ability-card.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/components/ability-cards/ability-cards-tab-container.tsx
  src/components/ability-cards/ability-cards.tsx
  src/components/ability-cards/deck/unlockable-ability-card.tsx
  src/components/ability-cards/hand/edit-hand-dialog.tsx
  src/components/ability-cards/hand/hand.tsx
  src/components/ability-cards/toggleable-ability-card.tsx
  src/components/perks/attack-modifiers.tsx
  src/components/profile/class-select.tsx
  src/hooks/app-settings.tsx
  src/types/types.d.ts
Labels: test, source

feat: replace ability card show hand switch with tabs (#184)
  cypress/e2e/ability-cards/hand.spec.tsx
  cypress/e2e/profile.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  src/__tests__/components/ability-cards/ability-cards.test.tsx
  src/__tests__/components/ability-cards/hand/edit-hand-dialog.test.tsx
  src/__tests__/components/ability-cards/hand/hand.test.tsx
  src/__tests__/components/ability-cards/toggleable-ability-card.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/components/ability-cards/ability-cards-tab-container.tsx
  src/components/ability-cards/ability-cards.tsx
  src/components/ability-cards/deck/unlockable-ability-card.tsx
  src/components/ability-cards/hand/edit-hand-dialog.tsx
  src/components/ability-cards/hand/hand.tsx
  src/components/ability-cards/toggleable-ability-card.tsx
  src/components/perks/attack-modifiers.tsx
  src/components/profile/class-select.tsx
  src/hooks/app-settings.tsx
  src/types/types.d.ts
Labels: test, source

feat: add enhancements tab that renders the deck
  cypress/e2e/ability-cards/enhancements.spec.tsx
  src/__tests__/components/ability-cards/ability-cards.test.tsx
  src/__tests__/components/ability-cards/enhancements/enhancements.test.tsx
  src/components/ability-cards/ability-cards-tab-container.tsx
  src/components/ability-cards/enhancements/enhancements.tsx
Labels: test, source

feat: add enhancements data types
  data/gloomhaven/enhancements.json
  src/__tests__/utils.ts
  src/constants.ts
  src/services/deserializer.ts
  src/types/types.d.ts
Labels: source

refactor: rename serialized character interface
  src/services/deserializer.ts
  src/services/serializer.ts
  src/types/types.d.ts
Labels: source

refactor: move asset types to separate d.ts file
  src/types/data.d.ts
  src/types/types.d.ts
Labels: source

chore: update dependencies (#188)
  package-lock.json
  package.json
Labels: dependencies

feat: add enhancement slot type data
  data/gloomhaven/classes/br.json
  data/gloomhaven/classes/ch.json
  data/gloomhaven/classes/mt.json
  data/gloomhaven/classes/sc.json
  data/gloomhaven/classes/sw.json
  data/gloomhaven/classes/ti.json
  data/gloomhaven/enhancements.json
  src/__tests__/components/ability-cards/deck/ability-card-group.test.tsx
  src/__tests__/components/ability-cards/deck/deck.test.tsx
  src/__tests__/components/ability-cards/deck/unlockable-ability-card.test.tsx
  src/__tests__/components/ability-cards/disabled-ability-card.test.tsx
  src/__tests__/components/ability-cards/enhancements/enhancements.test.tsx
  src/__tests__/components/ability-cards/hand/edit-hand-dialog.test.tsx
  src/__tests__/components/ability-cards/hand/hand.test.tsx
  src/__tests__/components/profile/experience-field.test.tsx
  src/__tests__/services/character.test.ts
  src/__tests__/utils.ts
  src/loaders/enhancements.ts
  src/types/data.d.ts
Labels: test, source

feat: add basic enhancement autocompletes
  data/gloomhaven/enhancements.json
  src/__tests__/components/ability-cards/enhancements/enhancements.test.tsx
  src/components/ability-cards/ability-cards-tab-container.tsx
  src/components/ability-cards/enhancements/enhancement-autocomplete.tsx
  src/components/ability-cards/enhancements/enhancements.tsx
  src/styles/theme.tsx
Labels: test, source

chore: update label styling
  src/styles/theme.tsx
Labels: source

style: update switch statement formatting
  .xo-config.json
  src/components/ability-cards/enhancements/enhancement-autocomplete.tsx
  src/services/character.ts
Labels: source

refactor: move formatted enhancement names into data files
  data/gloomhaven/classes/br.json
  data/gloomhaven/classes/ch.json
  data/gloomhaven/classes/mt.json
  data/gloomhaven/classes/sc.json
  data/gloomhaven/classes/sw.json
  data/gloomhaven/classes/ti.json
  data/gloomhaven/enhancements.json
  src/__tests__/components/ability-cards/enhancements/enhancements.test.tsx
  src/__tests__/utils.ts
  src/components/ability-cards/enhancements/enhancement-autocomplete.tsx
  src/components/ability-cards/enhancements/enhancements.tsx
Labels: test, source

test: add unit tests for enhancements autocomplete
  src/__tests__/components/ability-cards/enhancements/enhancements-autocomplete.test.tsx
Labels: test, source

ci: add more ability cards visual tests
  percy.json
Labels: none

test: add e2e tests for enhancements
  cypress/e2e/ability-cards/enhancements.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  src/components/ability-cards/enhancements/enhancement-autocomplete.tsx
Labels: test, source

chore: split summon enhancement type out into separate health/move/attack/range stats
  data/gloomhaven/classes/mt.json
  data/gloomhaven/classes/sw.json
  data/gloomhaven/classes/ti.json
  data/gloomhaven/enhancements.json
Labels: none

feat: reset the perks, battle goals and enhancements when changing class
  cypress/e2e/profile.spec.tsx
  src/__tests__/components/perks/perk-list.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/services/character.test.ts
  src/__tests__/services/codec.test.ts
  src/__tests__/services/serializer.test.ts
  src/__tests__/utils.ts
  src/components/profile/class-select.tsx
  src/constants.ts
  src/services/character.ts
Labels: test, source

docs: update README.md
  docs/README.md
Labels: documentation

docs: update README.md
  docs/README.md
Labels: documentation

docs: update README.md
  docs/README.md
Labels: documentation

docs: update README.md
  docs/README.md
Labels: documentation

refactor: group mui overrides in theme definition
  src/styles/theme.tsx
Labels: source

feat: show the enhancement icon for selected enhancements
  .xo-config.json
  cypress/e2e/ability-cards/enhancements.spec.tsx
  src/__tests__/components/ability-cards/enhancements/enhancements-autocomplete-input.test.tsx
  src/__tests__/components/ability-cards/enhancements/enhancements-autocomplete.test.tsx
  src/components/ability-cards/enhancements/enhancements-autocomplete-input.tsx
  src/components/ability-cards/enhancements/enhancements-autocomplete.tsx
  src/components/ability-cards/enhancements/enhancements.tsx
Labels: test, source

chore: update image paths to new location
  data/gloomhaven/attack-modifiers.json
  data/gloomhaven/classes/br.json
  data/gloomhaven/classes/ch.json
  data/gloomhaven/classes/mt.json
  data/gloomhaven/classes/sc.json
  data/gloomhaven/classes/sw.json
  data/gloomhaven/classes/ti.json
  data/gloomhaven/enhancements.json
  data/gloomhaven/items.json
  data/gloomhaven/personal-quests.json
  src/__tests__/components/ability-cards/deck/ability-card-group.test.tsx
  src/__tests__/components/ability-cards/deck/deck.test.tsx
  src/__tests__/components/ability-cards/deck/unlockable-ability-card.test.tsx
  src/__tests__/components/ability-cards/disabled-ability-card.test.tsx
  src/__tests__/components/ability-cards/enhancements/enhancements.test.tsx
  src/__tests__/components/ability-cards/hand/edit-hand-dialog.test.tsx
  src/__tests__/components/core/image.test.tsx
  src/__tests__/components/perks/attack-modifiers.test.tsx
  src/__tests__/components/profile/experience-field.test.tsx
  src/__tests__/services/character.test.ts
  src/__tests__/utils.ts
  src/components/perks/battle-goal-checkmark-group-label.tsx
  src/components/perks/rich-perk-description.tsx
  src/components/profile/personal-quest.tsx
Labels: test, source

docs: update README.md
  docs/README.md
Labels: documentation

feat: render enhanced ability card images
  jest.config.js
  src/__tests__/components/ability-cards/disabled-ability-card.test.tsx
  src/__tests__/components/ability-cards/toggleable-ability-card.test.tsx
  src/__tests__/components/core/image.test.tsx
  src/__tests__/utils.test.ts
  src/components/ability-cards/ability-card.tsx
  src/components/ability-cards/deck/ability-card-group.tsx
  src/components/ability-cards/deck/unlockable-ability-card.tsx
  src/components/ability-cards/disabled-ability-card.tsx
  src/components/ability-cards/enhancements/enhancements.tsx
  src/components/ability-cards/hand/edit-hand-dialog.tsx
  src/components/ability-cards/hand/hand.tsx
  src/components/ability-cards/toggleable-ability-card.tsx
  src/components/core/image.tsx
  src/constants.ts
  src/utils.ts
  tsconfig.json
Labels: test, source

test: add unit tests for ability card
  src/__tests__/components/ability-cards/ability-card.test.tsx
  src/__tests__/utils.ts
  src/components/ability-cards/ability-card.tsx
Labels: test, source

fix: display MUDDLE ability line enhancement slot name in upper case
  data/gloomhaven/enhancements.json
Labels: none

.github/labeler.yml:

documentation:
  - README.md
  - docs/**/*

test:
  - src/**/*.test.*
  - src/**/*.snap
  - cypress/**/*

source:
  - src/**/*

ci:
  - .github/**/*

dependencies:
  - package-lock.json
