Repository ceva24/havenplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, ci, dependencies

chore: update node types package version
  package.json
Labels: none

chore: update node types package version
  package.json
Labels: none

chore: update node types package
  package-lock.json
  package.json
Labels: dependencies

test: update performance test threshold
  lighthouserc.json
Labels: none

test: update performance test threshold (#354)
  lighthouserc.json
Labels: none

chore: update deps
  next-env.d.ts
  package-lock.json
Labels: dependencies

chore: update lighthouse config
  .github/workflows/performance-checks.yml
  lighthouserc.json
Labels: ci

chore: update node
  .nvmrc
  package-lock.json
  package.json
Labels: dependencies

chore: update dependencies (#355)
  .github/workflows/performance-checks.yml
  .nvmrc
  lighthouserc.json
  next-env.d.ts
  package-lock.json
  package.json
Labels: ci, dependencies

chore: remove beta tag
  src/client/components/header/header.tsx
Labels: source

chore: remove beta tag (#356)
  src/client/components/header/header.tsx
Labels: source

.github/labeler.yml:

documentation:
  - README.md
  - docs/**/*

test:
  - src/**/*.test.*
  - src/**/*.snap
  - cypress/**/*

source:
  - src/**/*

ci:
  - .github/**/*

dependencies:
  - package-lock.json
