Repository ceva24/havenplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, ci, dependencies

.github/labeler.yml:

documentation:
  - README.md
  - docs/**/*

test:
  - src/**/*.test.*
  - src/**/*.snap
  - cypress/**/*

source:
  - src/**/*

ci:
  - .github/**/*

dependencies:
  - package-lock.json

feat: add support for SS class (#273)
  .github/workflows/visual-test.yml
  .xo-config.json
  cypress/e2e/profile/character-updates.spec.tsx
  cypress/e2e/settings/classes.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/tsconfig.json
  data/gloomhaven/classes/ss.json
  package-lock.json
  package.json
  src/__tests__/components/core/full-screen-dialog.test.tsx
  src/__tests__/components/settings/item-groups.test.tsx
  src/__tests__/services/perks/attack-modifier.test.ts
  src/components/items/item-grid.tsx
  src/components/load/load-character-dialog.tsx
  src/components/perks/attack-modifiers.tsx
  src/components/settings/character-classes.tsx
  src/components/settings/settings-dialog.tsx
  src/hooks/use-clear-query-string.ts
  src/loaders/character-classes.ts
  src/pages/index.tsx
  src/services/ability-cards/enhancement.ts
  src/services/perks/attack-modifier.ts
  tsconfig.json
Labels: test, source, ci, dependencies

feat: add prosperity 6 items
  data/gloomhaven/items.json
Labels: none

feat: add prosperity 7 items
  data/gloomhaven/items.json
Labels: none

feat: add prosperity 8 items
  data/gloomhaven/items.json
Labels: none

feat: add prosperity 9 items
  data/gloomhaven/items.json
Labels: none

feat: add other items
  data/gloomhaven/items.json
Labels: none

feat: add solo scenario items
  data/gloomhaven/items.json
Labels: none

feat: add all items (#274)
  data/gloomhaven/items.json
Labels: none

refactor: move loaders under gloomhaven directory
  src/__tests__/services/game/gloomhaven.test.ts
  src/loaders/gloomhaven/attack-modifiers.ts
  src/loaders/gloomhaven/character-classes.ts
  src/loaders/gloomhaven/enhancements.ts
  src/loaders/gloomhaven/games.ts
  src/loaders/gloomhaven/item-groups.ts
  src/loaders/gloomhaven/items.ts
  src/loaders/gloomhaven/personal-quests.ts
  src/services/games/gloomhaven.ts
Labels: test, source

refactor: remove items from game data
  src/__tests__/components/items/browse-items-dialog.test.tsx
  src/__tests__/create-test-fixtures.ts
  src/__tests__/services/game/game.test.ts
  src/__tests__/services/game/gloomhaven.test.ts
  src/__tests__/services/items.test.ts
  src/__tests__/services/share/codec.test.ts
  src/__tests__/services/share/deserializer.test.ts
  src/__tests__/services/share/serializer.test.ts
  src/components/items/browse-items-dialog.tsx
  src/components/items/items-autocomplete.tsx
  src/services/games/game.ts
  src/services/games/gloomhaven.ts
  src/services/items.ts
  src/services/share/codec.ts
  src/services/share/deserializer.ts
  src/types/types.d.ts
Labels: test, source

chore: update ts and linting config for using unknown in catch variables
  .xo-config.json
  tsconfig.json
Labels: none

feat: add api route to retrieve item data
  package-lock.json
  package.json
  src/__tests__/pages/api/items.test.ts
  src/pages/api/items.ts
  src/schemas/spoiler-settings.ts
  src/types/api.d.ts
Labels: test, source, dependencies

chore: make item alternative image url field optional
  data/gloomhaven/items.json
  src/types/data.d.ts
Labels: source

refactor: store items in state
  src/__tests__/components/items/browse-items-dialog.test.tsx
  src/__tests__/components/items/items-autocomplete.test.tsx
  src/__tests__/services/items.test.ts
  src/components/items/browse-items-dialog.tsx
  src/components/items/items-autocomplete.tsx
  src/components/items/items.tsx
  src/services/items.ts
Labels: test, source

feat: retrieve items from api route
  package-lock.json
  package.json
  src/__tests__/components/items/browse-items-dialog.test.tsx
  src/__tests__/components/items/items-autocomplete.test.tsx
  src/components/items/browse-items-dialog.tsx
  src/components/items/items-autocomplete.tsx
  src/components/items/items.tsx
  src/hooks/use-items.ts
Labels: test, source, dependencies

feat: show loading and error messages in browse items dialog
  src/components/items/browse-items-dialog.tsx
Labels: source

chore: update items swr key to only re-request when relevant spoiler settings change
  src/hooks/use-items.ts
Labels: source

test: update items component tests with use items hook
  src/__tests__/components/items/browse-items-dialog.test.tsx
  src/__tests__/components/items/items-autocomplete.test.tsx
Labels: test, source

test: add use-items hook tests
  src/__tests__/hooks/use-clear-query-string.test.ts
  src/__tests__/hooks/use-items.test.ts
  src/hooks/use-items.ts
Labels: test, source

feat: serve item data via API (#277)
  .xo-config.json
  data/gloomhaven/items.json
  package-lock.json
  package.json
  src/__tests__/components/items/browse-items-dialog.test.tsx
  src/__tests__/components/items/items-autocomplete.test.tsx
  src/__tests__/create-test-fixtures.ts
  src/__tests__/hooks/use-clear-query-string.test.ts
  src/__tests__/hooks/use-items.test.ts
  src/__tests__/pages/api/items.test.ts
  src/__tests__/services/game/game.test.ts
  src/__tests__/services/game/gloomhaven.test.ts
  src/__tests__/services/items.test.ts
  src/__tests__/services/share/codec.test.ts
  src/__tests__/services/share/deserializer.test.ts
  src/__tests__/services/share/serializer.test.ts
  src/components/items/browse-items-dialog.tsx
  src/components/items/items-autocomplete.tsx
  src/hooks/use-items.ts
  src/loaders/gloomhaven/attack-modifiers.ts
  src/loaders/gloomhaven/character-classes.ts
  src/loaders/gloomhaven/enhancements.ts
  src/loaders/gloomhaven/games.ts
  src/loaders/gloomhaven/item-groups.ts
  src/loaders/gloomhaven/items.ts
  src/loaders/gloomhaven/personal-quests.ts
  src/pages/api/items.ts
  src/schemas/spoiler-settings.ts
  src/services/games/game.ts
  src/services/games/gloomhaven.ts
  src/services/items.ts
  src/services/share/codec.ts
  src/services/share/deserializer.ts
  src/types/api.d.ts
  src/types/data.d.ts
  src/types/types.d.ts
  tsconfig.json
Labels: test, source, dependencies

feat: only load initial character class summaries in game data
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/settings/settings-button.test.tsx
  src/__tests__/create-test-fixtures.ts
  src/__tests__/services/character-classes.test.ts
  src/__tests__/services/game/game.test.ts
  src/__tests__/services/share/codec.test.ts
  src/__tests__/services/share/deserializer.test.ts
  src/__tests__/services/spoiler.test.ts
  src/__tests__/transformers/character-class-summary.test.ts
  src/__tests__/transformers/unlockable-character-class-summary.test.ts
  src/components/profile/class-select.tsx
  src/components/settings/settings-button.tsx
  src/services/character-classes.ts
  src/services/games/game.ts
  src/services/games/gloomhaven.ts
  src/services/settings.ts
  src/services/share/codec.ts
  src/services/share/deserializer.ts
  src/services/spoiler.ts
  src/transformers/character-class-summary.ts
  src/transformers/unlockable-character-class-summary.ts
  src/types/types.d.ts
Labels: test, source

feat: retrieve character class summaries and class details via api requests
  .xo-config.json
  jest.config.js
  src/__tests__/components/items/browse-items-dialog.test.tsx
  src/__tests__/components/items/items-autocomplete.test.tsx
  src/__tests__/components/profile/character-details.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/settings/settings-button.test.tsx
  src/__tests__/components/settings/spoil-all-switch.test.tsx
  src/__tests__/components/share/share-button.test.tsx
  src/__tests__/hooks/data/use-items.test.ts
  src/__tests__/pages/api/games/[gameId]/items.test.ts
  src/__tests__/pages/index.test.tsx
  src/__tests__/services/share/codec.test.ts
  src/__tests__/services/share/decoder.test.ts
  src/__tests__/services/share/encoder.test.ts
  src/components/items/browse-items-dialog.tsx
  src/components/items/items-autocomplete.tsx
  src/components/profile/class-select.tsx
  src/components/settings/settings-button.tsx
  src/components/settings/spoil-all-switch.tsx
  src/components/share/share-button.tsx
  src/hooks/data/use-character-class-summaries.ts
  src/hooks/data/use-items.ts
  src/pages/api/games/[gameId]/classes/[classId].ts
  src/pages/api/games/[gameId]/classes/index.ts
  src/pages/api/games/[gameId]/items.ts
  src/pages/index.tsx
  src/schemas/game-data.ts
  src/services/games/game.ts
  src/services/request.ts
  src/services/share/codec.ts
  src/services/share/decoder.ts
  src/services/share/deserializer.ts
  src/services/share/encoder.ts
  src/types/api.d.ts
  src/types/types.d.ts
  tsconfig.json
Labels: test, source

test: remove all mocks with actual implementations from unit tests
  src/__tests__/components/ability-cards/deck/unlockable-ability-card.test.tsx
  src/__tests__/components/items/browse-items-dialog.test.tsx
  src/__tests__/components/share/share-button.test.tsx
  src/__tests__/pages/api/games/[gameId]/items.test.ts
  src/__tests__/pages/index.test.tsx
  src/__tests__/services/share/codec.test.ts
  src/__tests__/services/share/decoder.test.ts
  src/__tests__/services/share/encoder.test.ts
Labels: test, source

test: add unit tests for classes api endpoints
  .xo-config.json
  src/__tests__/hooks/data/use-character-class-summaries.test.ts
  src/__tests__/pages/api/games/[gameId]/classes/[classId].test.ts
  src/__tests__/pages/api/games/[gameId]/classes/index.test.ts
  src/__tests__/services/game/game.test.ts
  src/__tests__/services/request.test.ts
  src/services/request.ts
Labels: test, source

feat: update load character dialog styling
  src/__tests__/services/spoiler.test.ts
  src/components/load/load-character-dialog.tsx
  src/components/load/spoiler.tsx
  src/services/spoiler.ts
Labels: test, source

feat: update load character dialog styling (#280)
  src/__tests__/services/spoiler.test.ts
  src/components/load/load-character-dialog.tsx
  src/components/load/spoiler.tsx
  src/services/spoiler.ts
Labels: test, source

fix: use spoiler-safe names in locked character class icon urls
  data/gloomhaven/classes/ns.json
  data/gloomhaven/classes/ss.json
Labels: none

fix: use spoiler-safe names in locked character class icon urls (#281)
  data/gloomhaven/classes/ns.json
  data/gloomhaven/classes/ss.json
Labels: none

chore: migrate to havenplanner.app
  docs/CONTRIBUTING.md
  docs/README.md
  package-lock.json
  package.json
  src/__tests__/components/core/image.test.tsx
  src/components/settings/settings-dialog.tsx
  src/services/core/image.ts
Labels: documentation, test, source, dependencies

chore: migrate to havenplanner.app (#283)
  docs/CONTRIBUTING.md
  docs/README.md
  package-lock.json
  package.json
  src/__tests__/components/core/image.test.tsx
  src/components/settings/settings-dialog.tsx
  src/services/core/image.ts
Labels: documentation, test, source, dependencies

refactor: move server-side and shared items logic to separate services
  jest.config.js
  src/__tests__/client/services/items.test.ts
  src/__tests__/pages/api/games/[gameId]/items.test.ts
  src/__tests__/server/services/items.test.ts
  src/__tests__/shared/items.test.ts
  src/client/components/settings/settings-button.tsx
  src/client/services/items.ts
  src/pages/api/games/[gameId]/items.ts
  src/server/services/items.ts
  src/shared/services/items.ts
  tsconfig.json
Labels: test, source

refactor: move shared character class logic to shared service
  src/__tests__/server/services/character-classes.test.ts
  src/__tests__/shared/services/character-classes.test.ts
  src/__tests__/shared/services/items.test.ts
  src/client/components/settings/settings-button.tsx
  src/server/services/character-classes.ts
  src/shared/services/character-classes.ts
Labels: test, source

chore: update dependencies
  cypress/tsconfig.json
  package-lock.json
  package.json
  src/__tests__/client/components/ability-cards/ability-cards.test.tsx
  src/__tests__/client/components/items/items-autocomplete.test.tsx
  src/__tests__/client/components/items/items.test.tsx
  src/__tests__/client/components/profile/character-details.test.tsx
  src/__tests__/client/components/profile/personal-quest.test.tsx
  src/__tests__/client/components/profile/profile.test.tsx
  src/client/components/perks/perk-label.tsx
  src/server/services/load/deserializer.ts
Labels: test, source, dependencies

chore: update eslint config to ignore transitive type imports
  .xo-config.json
Labels: none

chore: update dependencies (#284)
  .xo-config.json
  cypress/tsconfig.json
  package-lock.json
  package.json
  src/__tests__/client/components/ability-cards/ability-cards.test.tsx
  src/__tests__/client/components/items/items-autocomplete.test.tsx
  src/__tests__/client/components/items/items.test.tsx
  src/__tests__/client/components/profile/character-details.test.tsx
  src/__tests__/client/components/profile/personal-quest.test.tsx
  src/__tests__/client/components/profile/profile.test.tsx
  src/client/components/perks/perk-label.tsx
  src/server/services/load/deserializer.ts
Labels: test, source, dependencies

chore: move index to /gloomhaven
  cypress/e2e/ability-cards/deck.spec.tsx
  cypress/e2e/ability-cards/enhancements.spec.tsx
  cypress/e2e/ability-cards/hand.spec.tsx
  cypress/e2e/app.spec.tsx
  cypress/e2e/index.spec.tsx
  cypress/e2e/items.spec.tsx
  cypress/e2e/perks.spec.tsx
  cypress/e2e/profile/character-updates.spec.tsx
  cypress/e2e/profile/profile.spec.tsx
  cypress/e2e/settings/classes.spec.tsx
  cypress/e2e/settings/items.spec.tsx
  cypress/e2e/settings/settings.spec.tsx
  cypress/e2e/share.spec.tsx
  next.config.js
  src/__tests__/client/components/error/error-template.test.tsx
  src/__tests__/client/components/header/header.test.tsx
  src/__tests__/client/hooks/use-clear-query-string.test.ts
  src/__tests__/pages/404.test.tsx
  src/__tests__/pages/gloomhaven.test.tsx
  src/client/components/core/button.tsx
  src/client/components/error/error-template.tsx
  src/client/components/header/header.tsx
  src/client/components/share/share-button.tsx
  src/client/hooks/use-clear-query-string.ts
  src/client/themes/default.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/gloomhaven.tsx
Labels: test, source

chore: update performance and visual test config
  lighthouserc.json
  percy.json
Labels: none

chore: use /gloomhaven as default url (#286)
  cypress/e2e/ability-cards/deck.spec.tsx
  cypress/e2e/ability-cards/enhancements.spec.tsx
  cypress/e2e/ability-cards/hand.spec.tsx
  cypress/e2e/app.spec.tsx
  cypress/e2e/index.spec.tsx
  cypress/e2e/items.spec.tsx
  cypress/e2e/perks.spec.tsx
  cypress/e2e/profile/character-updates.spec.tsx
  cypress/e2e/profile/profile.spec.tsx
  cypress/e2e/settings/classes.spec.tsx
  cypress/e2e/settings/items.spec.tsx
  cypress/e2e/settings/settings.spec.tsx
  cypress/e2e/share.spec.tsx
  lighthouserc.json
  next.config.js
  percy.json
  src/__tests__/client/components/error/error-template.test.tsx
  src/__tests__/client/components/header/header.test.tsx
  src/__tests__/client/hooks/use-clear-query-string.test.ts
  src/__tests__/pages/404.test.tsx
  src/__tests__/pages/gloomhaven.test.tsx
  src/client/components/core/button.tsx
  src/client/components/error/error-template.tsx
  src/client/components/header/header.tsx
  src/client/components/share/share-button.tsx
  src/client/hooks/use-clear-query-string.ts
  src/client/themes/default.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/gloomhaven.tsx
Labels: test, source

chore: restrict http methods for api routes
  package-lock.json
  package.json
  src/__tests__/pages/api/games/[gameId]/classes/[classId].test.ts
  src/__tests__/pages/api/games/[gameId]/classes/index.test.ts
  src/__tests__/pages/api/games/[gameId]/items.test.ts
  src/pages/api/games/[gameId]/classes/[classId].ts
  src/pages/api/games/[gameId]/classes/index.ts
  src/pages/api/games/[gameId]/items.ts
Labels: test, source, dependencies

chore: add appropriate api request headers
  src/__tests__/client/hooks/data/use-character-class-summaries.test.ts
  src/__tests__/client/hooks/data/use-items.test.ts
  src/__tests__/client/services/request.test.ts
  src/client/hooks/data/use-character-class-summaries.ts
  src/client/hooks/data/use-items.ts
  src/client/services/request.ts
Labels: test, source
