Repository ceva24/havenplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, ci, dependencies

.github/labeler.yml:

documentation:
  - README.md
  - docs/**/*

test:
  - src/**/*.test.*
  - src/**/*.snap
  - cypress/**/*

source:
  - src/**/*

ci:
  - .github/**/*

dependencies:
  - package-lock.json

ci: update cypress github action
  .github/workflows/e2e-test.yml
Labels: ci

ci: update cypress github action
  .github/workflows/e2e-test.yml
Labels: ci

ci: update cypress github action
  .github/workflows/e2e-test.yml
Labels: ci

ci: update cypress github action
  .github/workflows/e2e-test.yml
Labels: ci

ci: update cypress github action
  .github/workflows/e2e-test.yml
Labels: ci

ci: update cypress github action
  .github/workflows/e2e-test.yml
Labels: ci

ci: update cypress github action
  .github/workflows/e2e-test.yml
Labels: ci

ci: update cypress github action
  .github/workflows/e2e-test.yml
Labels: ci

ci: update cypress github action
  .github/workflows/e2e-test.yml
Labels: ci

ci: update cypress github action
  .github/workflows/e2e-test.yml
Labels: ci

feat: add equip slot icons in items autocomplete (#210)
  .github/workflows/e2e-test.yml
  cypress/e2e/items.spec.tsx
  data/gloomhaven/items.json
  percy.json
  src/components/items/items-autocomplete.tsx
  src/types/data.d.ts
Labels: test, source, ci

fix: update TI net shooter ability card enhancement data
  data/gloomhaven/classes/ti.json
Labels: none

fix: update TI net shooter ability card enhancement data (#211)
  data/gloomhaven/classes/ti.json
Labels: none

chore: move location of edit hand button
  src/components/ability-cards/hand/hand.tsx
Labels: source

chore: move location of edit hand button (#212)
  src/components/ability-cards/hand/hand.tsx
Labels: source

chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies

chore: update dependencies (#213)
  package-lock.json
  package.json
Labels: dependencies

feat: restyle settings button and settings drawer
  src/__tests__/components/core/button.test.tsx
  src/components/ability-cards/hand/edit-hand-dialog.tsx
  src/components/ability-cards/hand/hand.tsx
  src/components/core/button.tsx
  src/components/header/header.tsx
  src/components/header/settings-button.tsx
  src/components/header/share-button.tsx
  src/components/header/share-dialog.tsx
  src/components/settings/settings-drawer.tsx
  src/styles/theme.tsx
Labels: test, source

feat: move class icon into class select box
  cypress/e2e/profile.spec.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/components/profile/class-select.tsx
Labels: test, source

feat: update class select and settings styles (#214)
  cypress/e2e/profile.spec.tsx
  src/__tests__/components/core/button.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/components/ability-cards/hand/edit-hand-dialog.tsx
  src/components/ability-cards/hand/hand.tsx
  src/components/core/button.tsx
  src/components/header/header.tsx
  src/components/header/settings-button.tsx
  src/components/header/share-button.tsx
  src/components/header/share-dialog.tsx
  src/components/profile/class-select.tsx
  src/components/settings/settings-drawer.tsx
  src/styles/theme.tsx
Labels: test, source

feat: update card sizes and dialogs
  src/components/ability-cards/hand/edit-hand-dialog.tsx
  src/components/core/cards.tsx
  src/components/header/share-dialog.tsx
  src/components/profile/character-details.tsx
  src/components/profile/profile.tsx
  src/styles/theme.tsx
Labels: source

chore: add id to settings button
  src/components/core/button.tsx
  src/components/header/settings-button.tsx
Labels: source

ci: update visual tests
  percy.json
Labels: none

feat: update card sizes and dialogs (#215)
  percy.json
  src/components/ability-cards/hand/edit-hand-dialog.tsx
  src/components/core/button.tsx
  src/components/core/cards.tsx
  src/components/header/settings-button.tsx
  src/components/header/share-dialog.tsx
  src/components/profile/character-details.tsx
  src/components/profile/profile.tsx
  src/styles/theme.tsx
Labels: source

feat: update dialog styles
  src/components/ability-cards/hand/edit-hand-dialog.tsx
  src/components/header/share-dialog.tsx
Labels: source

feat: update dialog styles (#216)
  src/components/ability-cards/hand/edit-hand-dialog.tsx
  src/components/header/share-dialog.tsx
Labels: source

feat: add browse items dialog
  cypress/e2e/items.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  src/__tests__/components/ability-cards/hand/edit-hand-dialog.test.tsx
  src/__tests__/components/ability-cards/hand/hand.test.tsx
  src/__tests__/components/ability-cards/toggleable-ability-card.test.tsx
  src/__tests__/components/core/button.test.tsx
  src/__tests__/components/core/full-screen-dialog.test.tsx
  src/__tests__/components/header/share-dialog.test.tsx
  src/__tests__/components/items/items-dialog.test.tsx
  src/__tests__/components/items/items.test.tsx
  src/components/ability-cards/hand/edit-hand-dialog.tsx
  src/components/core/button.tsx
  src/components/core/full-screen-dialog.tsx
  src/components/items/item.tsx
  src/components/items/items-dialog.tsx
  src/components/items/items.tsx
  src/components/profile/personal-quest.tsx
Labels: test, source

feat: add browse items dialog (#217)
  cypress/e2e/items.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  src/__tests__/components/ability-cards/hand/edit-hand-dialog.test.tsx
  src/__tests__/components/ability-cards/hand/hand.test.tsx
  src/__tests__/components/ability-cards/toggleable-ability-card.test.tsx
  src/__tests__/components/core/button.test.tsx
  src/__tests__/components/core/full-screen-dialog.test.tsx
  src/__tests__/components/header/share-dialog.test.tsx
  src/__tests__/components/items/items-dialog.test.tsx
  src/__tests__/components/items/items.test.tsx
  src/components/ability-cards/hand/edit-hand-dialog.tsx
  src/components/core/button.tsx
  src/components/core/full-screen-dialog.tsx
  src/components/items/item.tsx
  src/components/items/items-dialog.tsx
  src/components/items/items.tsx
  src/components/profile/personal-quest.tsx
Labels: test, source

feat: add item ids to the items autocomplete
  cypress/e2e/items.spec.tsx
  cypress/e2e/share.spec.tsx
  package.json
  src/components/items/items-autocomplete.tsx
Labels: test, source

chore: update package-lock.json
  package-lock.json
Labels: dependencies

feat: add item ids to the items autocomplete (#218)
  cypress/e2e/items.spec.tsx
  cypress/e2e/share.spec.tsx
  package-lock.json
  package.json
  src/components/items/items-autocomplete.tsx
Labels: test, source, dependencies

feat: add prosperity level two items and spoiler settings
  data/gloomhaven/items/prosperity-1.json
  data/gloomhaven/items/prosperity-2.json
  src/__tests__/components/ability-cards/ability-cards.test.tsx
  src/__tests__/components/items/item-grid.test.tsx
  src/__tests__/components/items/item.test.tsx
  src/__tests__/components/items/items-autocomplete.test.tsx
  src/__tests__/components/items/items-dialog.test.tsx
  src/__tests__/components/items/items.test.tsx
  src/__tests__/components/profile/character-details.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/profile/personal-quest.test.tsx
  src/__tests__/components/profile/profile.test.tsx
  src/__tests__/components/settings/prosperity-slider.test.tsx
  src/__tests__/components/settings/settings-drawer.test.tsx
  src/__tests__/components/tabs/tab-container.test.tsx
  src/__tests__/services/codec.test.ts
  src/__tests__/services/deserializer.test.ts
  src/__tests__/services/items.test.ts
  src/__tests__/services/serializer.test.ts
  src/__tests__/utils.tsx
  src/components/items/items-autocomplete.tsx
  src/components/items/items-dialog.tsx
  src/components/settings/prosperity-slider.tsx
  src/components/settings/settings-drawer.tsx
  src/hooks/app-settings.tsx
  src/loaders/items.ts
  src/services/deserializer.ts
  src/services/items.ts
  src/types/types.d.ts
Labels: test, source

test: add e2e tests for higher prosperity items
  cypress/e2e/items.spec.tsx
  cypress/e2e/settings.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  src/components/settings/prosperity-slider.tsx
Labels: test, source

refactor: combine items back into one data file
  data/gloomhaven/items.json
  data/gloomhaven/items/prosperity-1.json
  data/gloomhaven/items/prosperity-2.json
  src/__tests__/components/items/item-grid.test.tsx
  src/__tests__/components/items/item.test.tsx
  src/__tests__/components/items/items-autocomplete.test.tsx
  src/__tests__/services/codec.test.ts
  src/__tests__/services/deserializer.test.ts
  src/__tests__/services/serializer.test.ts
  src/loaders/items.ts
  src/services/items.ts
  src/types/data.d.ts
Labels: test, source

feat: remove higher prosperity items when lowering the prosperity level
  cypress/e2e/settings.spec.tsx
  src/__tests__/components/header/header.test.tsx
  src/__tests__/components/header/settings-button.test.tsx
  src/components/header/header.tsx
  src/components/header/settings-button.tsx
  src/pages/index.tsx
Labels: test, source

feat: set the initial prosperity level based on the character's highest prosperity item
  cypress/e2e/settings.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  src/__tests__/hooks/app-settings.test.tsx
  src/hooks/app-settings.tsx
Labels: test, source

refactor: reference items data directly in deserializer
  src/services/deserializer.ts
Labels: source

feat: add prosperity level two items and spoiler settings (#223)
  cypress/e2e/items.spec.tsx
  cypress/e2e/settings.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  data/gloomhaven/items.json
  src/__tests__/components/ability-cards/ability-cards.test.tsx
  src/__tests__/components/header/header.test.tsx
  src/__tests__/components/header/settings-button.test.tsx
  src/__tests__/components/items/items-autocomplete.test.tsx
  src/__tests__/components/items/items-dialog.test.tsx
  src/__tests__/components/items/items.test.tsx
  src/__tests__/components/profile/character-details.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/profile/personal-quest.test.tsx
  src/__tests__/components/profile/profile.test.tsx
  src/__tests__/components/settings/prosperity-slider.test.tsx
  src/__tests__/components/settings/settings-drawer.test.tsx
  src/__tests__/components/tabs/tab-container.test.tsx
  src/__tests__/hooks/app-settings.test.tsx
  src/__tests__/services/items.test.ts
  src/__tests__/utils.tsx
  src/components/header/header.tsx
  src/components/header/settings-button.tsx
  src/components/items/items-autocomplete.tsx
  src/components/items/items-dialog.tsx
  src/components/settings/prosperity-slider.tsx
  src/components/settings/settings-drawer.tsx
  src/hooks/app-settings.tsx
  src/pages/index.tsx
  src/services/items.ts
  src/types/data.d.ts
  src/types/types.d.ts
Labels: test, source

refactor: use conventional hook name for app-settings
  src/__tests__/components/profile/profile.test.tsx
  src/__tests__/hooks/app-settings.test.tsx
  src/__tests__/utils.tsx
  src/components/ability-cards/ability-cards-tab-container.tsx
  src/components/header/settings-button.tsx
  src/components/items/items-autocomplete.tsx
  src/components/items/items-dialog.tsx
  src/components/profile/class-select.tsx
  src/components/profile/personal-quest.tsx
  src/components/settings/prosperity-slider.tsx
  src/hooks/use-app-settings.tsx
  src/hooks/use-clear-query-string.ts
  src/pages/index.tsx
Labels: test, source

refactor: rename tab-container to app-container
  src/__tests__/components/app-container.test.tsx
  src/components/app-container.tsx
  src/components/tabs/tab-container.tsx
  src/pages/index.tsx
Labels: test, source
