Repository ceva24/havenplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, ci, dependencies

.github/labeler.yml:

documentation:
  - README.md
  - docs/**/*

test:
  - src/**/*.test.*
  - src/**/*.snap
  - cypress/**/*

source:
  - src/**/*

ci:
  - .github/**/*

dependencies:
  - package-lock.json

feat: show items by group in the browse items dialog
  cypress/e2e/items.spec.tsx
  src/__tests__/components/items/browse-items-dialog.test.tsx
  src/__tests__/components/items/item-group.tsx
  src/__tests__/components/items/items-autocomplete.test.tsx
  src/__tests__/services/items.test.ts
  src/components/items/browse-items-dialog.tsx
  src/components/items/item-group.tsx
  src/components/items/items-autocomplete.tsx
  src/components/items/items.tsx
  src/services/items.ts
Labels: test, source

feat: show items by group in the browse items dialog (#257)
  cypress/e2e/items.spec.tsx
  src/__tests__/components/items/browse-items-dialog.test.tsx
  src/__tests__/components/items/item-group.tsx
  src/__tests__/components/items/items-autocomplete.test.tsx
  src/__tests__/services/items.test.ts
  src/components/items/browse-items-dialog.tsx
  src/components/items/item-group.tsx
  src/components/items/items-autocomplete.tsx
  src/components/items/items.tsx
  src/services/items.ts
Labels: test, source

test: update tests following refactor
  cypress/e2e/settings.spec.tsx
  cypress/e2e/share.spec.tsx
  src/__tests__/components/ability-cards/ability-cards.test.tsx
  src/__tests__/components/settings/item-groups.test.tsx
  src/__tests__/hooks/use-settings.test.tsx
  src/__tests__/pages/index.test.tsx
  src/__tests__/services/items.test.ts
  src/__tests__/services/settings.test.ts
  src/__tests__/utils.tsx
  src/pages/index.tsx
Labels: test, source

refactor: serve all game data through getServerSideProps
  src/__tests__/components/items/item-group.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/pages/index.test.tsx
  src/__tests__/services/items.test.ts
  src/__tests__/services/settings.test.ts
  src/__tests__/utils.tsx
  src/components/ability-cards/enhancements/enhancements-select.tsx
  src/components/items/browse-items-dialog.tsx
  src/components/items/items-autocomplete.tsx
  src/components/perks/attack-modifiers.tsx
  src/components/profile/class-select.tsx
  src/components/profile/personal-quest-autocomplete.tsx
  src/components/settings/item-groups.tsx
  src/constants.ts
  src/pages/index.tsx
  src/services/ability-cards/enhancement.ts
  src/services/game/gloomhaven.ts
  src/services/items.ts
  src/services/perks/attack-modifier.ts
  src/services/perks/battle-goal.ts
  src/services/settings.ts
  src/services/share/deserializer.ts
  src/types/types.d.ts
Labels: test, source

refactor: rename property in index page
  src/pages/index.tsx
Labels: source

test: fix items service unit tests
  src/__tests__/services/items.test.ts
  src/__tests__/utils.tsx
Labels: test, source

chore: reorder imports in index
  src/pages/index.tsx
Labels: source

test: update test ignore pattern
  jest.config.js
Labels: none

test: fix attack modifiers grid and service tests
  src/__tests__/components/perks/attack-modifiers-grid.test.tsx
  src/__tests__/services/perks/attack-modifier.test.ts
  src/__tests__/test-fixtures.ts
Labels: test, source

test: fix perks and battle goal tests
  jest.config.js
  src/__tests__/components/perks/perks.test.tsx
  src/__tests__/mock-component.tsx
  src/__tests__/services/game/gloomhaven.test.ts
  src/__tests__/services/perks/battle-goal.test.ts
Labels: test, source

test: temporarily skip codec tests
  src/__tests__/services/share/codec.test.ts
Labels: test, source

test: remove dependencies on loaders in unit tests
  src/__tests__/components/ability-cards/enhancements/enhancements-select.test.tsx
  src/__tests__/components/header/settings-button.test.tsx
  src/__tests__/components/items/item-grid.test.tsx
  src/__tests__/components/items/item-group.test.tsx
  src/__tests__/components/items/item.test.tsx
  src/__tests__/components/items/items-autocomplete.test.tsx
  src/__tests__/components/load/load-character-dialog.test.tsx
  src/__tests__/components/profile/character-mat.test.tsx
  src/__tests__/components/settings/prosperity-slider.test.tsx
  src/__tests__/create-test-fixtures.ts
  src/__tests__/services/ability-cards/deck.test.ts
  src/__tests__/services/ability-cards/enhancement.test.ts
  src/__tests__/services/ability-cards/hand.test.ts
  src/__tests__/services/load.test.ts
  src/__tests__/services/perks/attack-modifier.test.ts
  src/__tests__/services/perks/perk.test.ts
Labels: test, source

chore: update dependencies
  package-lock.json
  package.json
  src/components/settings/prosperity-slider.tsx
Labels: source, dependencies

test: add gloomhaven service unit tests
  src/__tests__/create-test-fixtures.ts
  src/__tests__/services/game/gloomhaven.test.ts
  src/services/game/gloomhaven.ts
  src/services/settings.ts
  src/services/share/deserializer.ts
Labels: test, source

feat: store game id in serialized character data
  src/__tests__/components/header/share-button.test.tsx
  src/__tests__/pages/index.test.tsx
  src/__tests__/services/game/gloomhaven.test.ts
  src/__tests__/services/load.test.ts
  src/__tests__/services/settings.test.ts
  src/__tests__/services/spoiler.test.ts
  src/components/header/share-button.tsx
  src/components/settings/item-groups.tsx
  src/pages/index.tsx
  src/services/games/game.ts
  src/services/games/gloomhaven.ts
  src/services/load.ts
  src/services/settings.ts
  src/services/share/codec.ts
  src/services/share/deserializer.ts
  src/services/share/serializer.ts
  src/services/spoiler.ts
  src/types/types.d.ts
Labels: test, source

test: fix settings service unit tests
  src/__tests__/services/settings.test.ts
  src/__tests__/services/spoiler.test.ts
Labels: test, source

test: fix index page unit tests
  src/__tests__/pages/index.test.tsx
Labels: test, source

test: update visual test and performance test urls
  lighthouserc.json
  percy.json
Labels: none

fix: resolve issue with item ordering when loading save data
  cypress/e2e/share.spec.tsx
  src/components/items/item-grid.tsx
  src/components/items/items-autocomplete.tsx
Labels: test, source

test: add game service unit tests
  src/__tests__/services/game/game.test.ts
Labels: test, source

test: fix (de)serializer unit tests and some codec unit tests
  src/__tests__/services/share/codec.test.ts
  src/__tests__/services/share/deserializer.test.ts
  src/__tests__/services/share/serializer.test.ts
Labels: test, source

chore: update test data and serializer import
  src/__tests__/create-test-fixtures.ts
  src/__tests__/services/share/deserializer.test.ts
  src/services/share/deserializer.ts
Labels: test, source

test: add more codec unit tests
  src/__tests__/services/share/codec.test.ts
Labels: test, source

fix: improve how gained enhancements are loaded
  data/gloomhaven/enhancements.json
  lighthouserc.json
  percy.json
  src/services/share/deserializer.ts
Labels: source

test: add codec unit tests
  src/__tests__/services/share/codec.test.ts
Labels: test, source

test: update visual and performance tests
  lighthouserc.json
  percy.json
Labels: none

feat: add spoil all switch
  src/components/header/header.tsx
  src/components/settings/settings-dialog.tsx
  src/components/settings/spoil-all-switch.tsx
  src/services/spoiler.ts
Labels: source

refactor: combine item spoiler hint logic and spoil all logic
  src/__tests__/services/items.test.ts
  src/__tests__/services/spoiler.test.ts
  src/components/items/browse-items-dialog.tsx
  src/components/items/items-autocomplete.tsx
  src/services/items.ts
Labels: test, source

test: add unit tests for spoil all switch
  src/__tests__/components/header/header.test.tsx
  src/__tests__/components/settings/settings-dialog.test.tsx
  src/__tests__/components/settings/spoil-all-switch.test.tsx
  src/components/settings/spoil-all-switch.tsx
Labels: test, source

test: add e2e tests for spoil all functionality
  cypress/e2e/index.spec.tsx
  cypress/e2e/settings.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
Labels: test

feat: add spoil all toggle (#260)
  cypress/e2e/index.spec.tsx
  cypress/e2e/settings.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  src/__tests__/components/header/header.test.tsx
  src/__tests__/components/settings/settings-dialog.test.tsx
  src/__tests__/components/settings/spoil-all-switch.test.tsx
  src/__tests__/services/items.test.ts
  src/__tests__/services/spoiler.test.ts
  src/components/header/header.tsx
  src/components/items/browse-items-dialog.tsx
  src/components/items/items-autocomplete.tsx
  src/components/settings/settings-dialog.tsx
  src/components/settings/spoil-all-switch.tsx
  src/services/items.ts
  src/services/spoiler.ts
Labels: test, source

feat: add initial support for locked character classes
  data/gloomhaven/classes/br.json
  data/gloomhaven/classes/ch.json
  data/gloomhaven/classes/mt.json
  data/gloomhaven/classes/sc.json
  data/gloomhaven/classes/sw.json
  data/gloomhaven/classes/ti.json
  jest.config.js
  src/__tests__/components/ability-cards/deck/deck.test.tsx
  src/__tests__/components/ability-cards/deck/unlockable-ability-card.test.tsx
  src/__tests__/components/ability-cards/hand/edit-hand-dialog.test.tsx
  src/__tests__/components/header/settings-button.test.tsx
  src/__tests__/components/items/browse-items-dialog.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/settings/prosperity-slider.test.tsx
  src/__tests__/components/settings/spoil-all-switch.test.tsx
  src/__tests__/create-test-fixtures.ts
  src/__tests__/services/ability-cards/hand.test.ts
  src/__tests__/services/spoiler.test.ts
  src/components/header/settings-button.tsx
  src/components/items/browse-items-dialog.tsx
  src/components/items/items-autocomplete.tsx
  src/components/profile/class-select.tsx
  src/components/settings/character-classes.tsx
  src/components/settings/settings-dialog.tsx
  src/components/settings/spoil-all-switch.tsx
  src/services/character-classes.ts
  src/services/games/gloomhaven.ts
  src/services/settings.ts
  src/services/spoiler.ts
  src/transformers/character.ts
  src/types/data.d.ts
  src/types/types.d.ts
  tsconfig.json
Labels: test, source

feat: show locked class icons in spoiler settings dialog
  data/gloomhaven/classes/br.json
  data/gloomhaven/classes/ch.json
  data/gloomhaven/classes/mt.json
  data/gloomhaven/classes/sc.json
  data/gloomhaven/classes/sw.json
  data/gloomhaven/classes/ti.json
  src/__tests__/components/ability-cards/deck/deck.test.tsx
  src/__tests__/components/ability-cards/deck/unlockable-ability-card.test.tsx
  src/__tests__/components/ability-cards/hand/edit-hand-dialog.test.tsx
  src/__tests__/create-test-fixtures.ts
  src/__tests__/services/ability-cards/hand.test.ts
  src/components/profile/class-select.tsx
  src/components/settings/character-classes.tsx
  src/components/settings/item-groups.tsx
  src/components/settings/settings-dialog.tsx
  src/transformers/character.ts
  src/types/data.d.ts
  src/types/types.d.ts
Labels: test, source

test: add unit tests for locked character spoiler components
  cypress/e2e/settings.spec.tsx
  src/__tests__/components/header/settings-button.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/settings/character-classes.test.tsx
  src/__tests__/components/settings/item-groups.test.tsx
  src/__tests__/components/settings/settings-dialog.test.tsx
  src/__tests__/components/settings/spoil-all-switch.test.tsx
  src/__tests__/transformers/character.ts
  src/components/header/settings-button.tsx
  src/components/settings/character-classes.tsx
  src/services/games/gloomhaven.ts
  src/transformers/character.ts
Labels: test, source

test: add unlockable character service unit tests
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/settings/prosperity-slider.test.tsx
  src/__tests__/services/character-classes.test.ts
  src/__tests__/services/game/gloomhaven.test.ts
  src/__tests__/services/settings.test.ts
  src/__tests__/services/spoiler.test.ts
  src/services/settings.ts
Labels: test, source

test: update e2e tests for spoiler hints
  cypress/e2e/items.spec.tsx
  cypress/e2e/settings.spec.tsx
Labels: test

feat: allow locked character classes to be shared
  src/__tests__/components/header/settings-button.test.tsx
  src/__tests__/components/load/load-character-dialog.test.tsx
  src/__tests__/components/load/spoiler.test.tsx
  src/__tests__/create-test-fixtures.ts
  src/__tests__/services/items.test.ts
  src/__tests__/services/settings.test.ts
  src/__tests__/services/spoiler.test.ts
  src/components/load/load-character-dialog.tsx
  src/components/load/spoiler.tsx
  src/pages/index.tsx
  src/services/settings.ts
  src/services/spoiler.ts
Labels: test, source

feat: show spoiler safe class names in settings dialog
  src/components/settings/character-classes.tsx
  src/components/settings/settings-dialog.tsx
Labels: source

feat: update styling of load character dialog
  src/components/load/load-character-dialog.tsx
  src/components/load/spoiler.tsx
Labels: source

chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies
