Repository ceva24/havenplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, ci, dependencies

fix: only allow one ability card to be unlocked at the current level (#148)
  cypress/e2e/ability-cards.spec.tsx
  src/__tests__/services/character.test.ts
  src/services/character.ts
Labels: test, source

feat: only show the personal quest switch when loading a character with a personal quest set
  cypress/e2e/profile.spec.tsx
  cypress/e2e/share.spec.tsx
  src/__tests__/components/profile/personal-quest.test.tsx
  src/components/profile/personal-quest.tsx
  src/hooks/app-settings.tsx
  src/types/types.d.ts
Labels: test, source

feat: only show the personal quest switch when loading a character with a personal quest set (#149)
  cypress/e2e/profile.spec.tsx
  cypress/e2e/share.spec.tsx
  src/__tests__/components/profile/personal-quest.test.tsx
  src/components/profile/personal-quest.tsx
  src/hooks/app-settings.tsx
  src/types/types.d.ts
Labels: test, source

test: add e2e test for modifying ability cards after loading shareable link
  cypress/e2e/ability-cards.spec.tsx
Labels: test

fix: allow modification of unlocked ability cards after loading a character
  src/components/ability-cards/active-ability-card.tsx
Labels: source

fix: allow modification of unlocked ability cards after loading a character (#151)
  cypress/e2e/ability-cards.spec.tsx
  src/components/ability-cards/active-ability-card.tsx
Labels: test, source

test: remove previously-moved e2e test#
  cypress/e2e/index.spec.tsx
Labels: test

style: update color of switches
  src/components/header/header.tsx
  src/components/profile/personal-quest.tsx
Labels: source

feat: re-order tabs
  src/components/tabs/tab-container.tsx
Labels: source

feat: add a switch to toggle between displaying the deck and hand
  src/__tests__/components/ability-cards/ability-cards.test.tsx
  src/__tests__/components/ability-cards/deck.test.tsx
  src/components/ability-cards/ability-cards.tsx
  src/components/ability-cards/deck.tsx
  src/components/ability-cards/hand.tsx
Labels: test, source

fix: remove extra header element
  src/components/header/header.tsx
Labels: source

refactor: convert secondary style to primary
  src/components/ability-cards/ability-cards.tsx
  src/components/core/button.tsx
  src/components/header/copy-link-button.tsx
  src/components/header/header.tsx
  src/components/profile/personal-quest.tsx
  src/components/tabs/tab-container.tsx
  src/styles/theme.tsx
Labels: source

refactor: rename loader modules
  src/__tests__/components/header/header.test.tsx
  src/__tests__/components/header/share-button.test.tsx
  src/__tests__/components/items/item-grid.test.tsx
  src/__tests__/components/items/item.test.tsx
  src/__tests__/components/items/items-autocomplete.test.tsx
  src/__tests__/components/items/items.test.tsx
  src/__tests__/components/profile/character-details.test.tsx
  src/__tests__/components/profile/character-mat.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/profile/experience-field.test.tsx
  src/__tests__/components/profile/personal-quest-autocomplete.test.tsx
  src/__tests__/components/profile/personal-quest.test.tsx
  src/__tests__/components/profile/profile.test.tsx
  src/__tests__/components/tabs/tab-container.test.tsx
  src/__tests__/hooks/app-settings.test.tsx
  src/__tests__/pages/index.test.tsx
  src/__tests__/services/character.test.ts
  src/__tests__/services/encoder.test.ts
  src/__tests__/services/serializer.test.ts
  src/components/profile/class-select.tsx
  src/components/profile/personal-quest-autocomplete.tsx
  src/loaders/character-classes.ts
  src/loaders/personal-quests.ts
  src/services/serializer.ts
  src/utils/constants.ts
Labels: test, source

docs: fix .nvmrc link in README
  docs/README.md
Labels: documentation

chore: add .swc to .gitignore
  .gitignore
Labels: none

feat: add hand size property to character class
  data/gloomhaven/classes/br.json
  data/gloomhaven/classes/ch.json
  data/gloomhaven/classes/mt.json
  data/gloomhaven/classes/sc.json
  data/gloomhaven/classes/sw.json
  data/gloomhaven/classes/ti.json
  src/__tests__/components/ability-cards/ability-card-group.test.tsx
  src/__tests__/components/ability-cards/active-ability-card.test.tsx
  src/__tests__/components/ability-cards/deck.test.tsx
  src/__tests__/components/ability-cards/unlockable-ability-card.test.tsx
  src/types/types.d.ts
Labels: test, source

feat: retain state of show hand switch when changing tabs
  cypress/e2e/ability-cards.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  src/__tests__/components/ability-cards/ability-cards.test.tsx
  src/components/ability-cards/ability-cards.tsx
  src/hooks/app-settings.tsx
  src/types/types.d.ts
Labels: test, source

feat: add ability card back image url property to character class
  data/gloomhaven/classes/br.json
  data/gloomhaven/classes/ch.json
  data/gloomhaven/classes/mt.json
  data/gloomhaven/classes/sc.json
  data/gloomhaven/classes/sw.json
  data/gloomhaven/classes/ti.json
  src/__tests__/components/ability-cards/ability-card-group.test.tsx
  src/__tests__/components/ability-cards/active-ability-card.test.tsx
  src/__tests__/components/ability-cards/deck.test.tsx
  src/__tests__/components/ability-cards/unlockable-ability-card.test.tsx
  src/types/types.d.ts
Labels: test, source

feat: display a hand of unselected cards
  cypress/e2e/ability-cards.spec.tsx
  src/__tests__/components/ability-cards/hand.test.tsx
  src/components/ability-cards/hand.tsx
Labels: test, source

feat: add an icon against unselected cards in the hand
  cypress/e2e/ability-cards.spec.tsx
  src/__tests__/components/ability-cards/hand.test.tsx
  src/components/ability-cards/hand.tsx
Labels: test, source

docs: update README
  docs/README.md
Labels: documentation

docs: update README
  docs/README.md
Labels: documentation

feat: add a select card dialog to add a card to the hand
  cypress/e2e/ability-cards.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  src/__tests__/components/ability-cards/ability-cards.test.tsx
  src/__tests__/components/ability-cards/hand.test.tsx
  src/__tests__/components/ability-cards/select-card-dialog.test.tsx
  src/__tests__/components/header/share-dialog.test.tsx
  src/__tests__/services/character.test.ts
  src/components/ability-cards/ability-cards.tsx
  src/components/ability-cards/hand.tsx
  src/components/ability-cards/select-card-dialog.tsx
  src/components/header/share-button.tsx
  src/components/header/share-dialog.tsx
  src/services/character.ts
Labels: test, source

feat: add keyboard support for adding a card to the hand
  cypress/e2e/ability-cards.spec.tsx
  src/components/ability-cards/hand.tsx
Labels: test, source

refactor: move flippy types to separate type definition file
  src/types/flippy.d.ts
  src/types/types.d.ts
Labels: source

refactor: create test character data through a utility function
  jest.config.js
  src/__tests__/components/ability-cards/ability-card-group.test.tsx
  src/__tests__/components/ability-cards/active-ability-card.test.tsx
  src/__tests__/components/ability-cards/deck.test.tsx
  src/__tests__/components/ability-cards/hand.test.tsx
  src/__tests__/components/ability-cards/select-card-dialog.test.tsx
  src/__tests__/components/ability-cards/unlockable-ability-card.test.tsx
  src/__tests__/components/header/header.test.tsx
  src/__tests__/components/header/share-button.test.tsx
  src/__tests__/components/items/item-grid.test.tsx
  src/__tests__/components/items/item.test.tsx
  src/__tests__/components/items/items-autocomplete.test.tsx
  src/__tests__/components/items/items.test.tsx
  src/__tests__/components/profile/character-details.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/__tests__/components/profile/experience-field.test.tsx
  src/__tests__/components/profile/personal-quest-autocomplete.test.tsx
  src/__tests__/components/profile/personal-quest.test.tsx
  src/__tests__/components/profile/profile.test.tsx
  src/__tests__/components/tabs/tab-container.test.tsx
  src/__tests__/hooks/app-settings.test.tsx
  src/__tests__/pages/index.test.tsx
  src/__tests__/services/character.test.ts
  src/__tests__/services/encoder.test.ts
  src/__tests__/services/serializer.test.ts
  src/__tests__/utils.ts
  tsconfig.json
Labels: test, source

feat: add hand property to character
  src/__tests__/utils.ts
  src/services/serializer.ts
  src/types/types.d.ts
  src/utils/constants.ts
Labels: source

refactor: move deck and hand to subdirectories
  src/__tests__/components/ability-cards/deck/ability-card-group.test.tsx
  src/__tests__/components/ability-cards/deck/active-ability-card.test.tsx
  src/__tests__/components/ability-cards/deck/deck.test.tsx
  src/__tests__/components/ability-cards/deck/disabled-ability-card.test.tsx
  src/__tests__/components/ability-cards/deck/unlockable-ability-card.test.tsx
  src/__tests__/components/ability-cards/hand/hand.test.tsx
  src/__tests__/components/ability-cards/hand/select-card-dialog.test.tsx
  src/components/ability-cards/ability-cards.tsx
  src/components/ability-cards/deck/ability-card-group.tsx
  src/components/ability-cards/deck/active-ability-card.tsx
  src/components/ability-cards/deck/deck.tsx
  src/components/ability-cards/deck/disabled-ability-card.tsx
  src/components/ability-cards/deck/unlockable-ability-card.tsx
  src/components/ability-cards/hand/hand.tsx
  src/components/ability-cards/hand/select-card-dialog.tsx
Labels: test, source

feat: add the ability to add cards to hand
  src/components/ability-cards/ability-cards.tsx
  src/components/ability-cards/hand/available-ability-card.tsx
  src/components/ability-cards/hand/hand.tsx
  src/components/ability-cards/hand/select-card-dialog.tsx
Labels: source

test: add cypress tests for cards appearing in the select card dialog
  cypress/e2e/ability-cards.spec.tsx
Labels: test

feat: show cards already in hand as disabled in the select card dialog
  src/components/ability-cards/hand/available-ability-card.tsx
  src/components/ability-cards/hand/select-card-dialog.tsx
  src/components/ability-cards/hand/selected-ability-card.tsx
Labels: source

test: add unit tests for adding cards to the hand
  src/__tests__/components/ability-cards/hand/available-ability-card.test.tsx
  src/__tests__/components/ability-cards/hand/selected-ability-card.test.tsx
  src/components/ability-cards/hand/available-ability-card.tsx
Labels: test, source

feat: improve select card dialog to allow adding multiple at once
  src/__tests__/components/ability-cards/hand/available-ability-card.test.tsx
  src/__tests__/components/ability-cards/hand/hand.test.tsx
  src/__tests__/components/ability-cards/hand/select-card-dialog.test.tsx
  src/__tests__/components/ability-cards/hand/selected-ability-card.test.tsx
  src/components/ability-cards/ability-cards.tsx
  src/components/ability-cards/hand/available-ability-card.tsx
  src/components/ability-cards/hand/hand.tsx
  src/components/ability-cards/hand/select-card-dialog.tsx
  src/components/ability-cards/hand/selected-ability-card.tsx
Labels: test, source

feat: show remaining unselected cards next to the hand
  src/__tests__/components/ability-cards/hand/hand.test.tsx
  src/components/ability-cards/ability-cards.tsx
  src/components/ability-cards/hand/hand.tsx
Labels: test, source

test: add cypress tests for adding and removing cards in the hand
  cypress/e2e/ability-cards.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
Labels: test

feat: reset the hand when changing class
  cypress/e2e/profile.spec.tsx
  src/__tests__/components/profile/character-details.test.tsx
  src/__tests__/components/profile/class-select.test.tsx
  src/components/profile/class-select.tsx
Labels: test, source

feat: remove a card from the hand when locking it
  cypress/e2e/ability-cards.spec.tsx
  src/__tests__/components/ability-cards/deck/active-ability-card.test.tsx
  src/components/ability-cards/deck/active-ability-card.tsx
Labels: test, source

feat: show the hand size limit and prevent it from being exceeded
  cypress/e2e/ability-cards/deck.spec.tsx
  cypress/e2e/ability-cards/hand.spec.tsx
  src/__tests__/components/ability-cards/disabled-ability-card.test.tsx
  src/__tests__/components/ability-cards/hand/available-ability-card.test.tsx
  src/__tests__/components/ability-cards/hand/select-card-dialog.test.tsx
  src/components/ability-cards/deck/unlockable-ability-card.tsx
  src/components/ability-cards/disabled-ability-card.tsx
  src/components/ability-cards/hand/available-ability-card.tsx
  src/components/ability-cards/hand/select-card-dialog.tsx
Labels: test, source

refactor: move common deck/hand card logic to shared component
  src/__tests__/components/ability-cards/active-ability-card.test.tsx
  src/__tests__/components/ability-cards/deck/active-ability-card.test.tsx
  src/__tests__/components/ability-cards/deck/unlockable-ability-card.test.tsx
  src/__tests__/components/ability-cards/hand/available-ability-card.test.tsx
  src/__tests__/components/ability-cards/hand/select-card-dialog.test.tsx
  src/components/ability-cards/active-ability-card.tsx
  src/components/ability-cards/deck/active-ability-card.tsx
  src/components/ability-cards/deck/unlockable-ability-card.tsx
  src/components/ability-cards/hand/available-ability-card.tsx
  src/components/ability-cards/hand/select-card-dialog.tsx
Labels: test, source

fix: remove higher level cards from hand when changing character level
  cypress/e2e/profile.spec.tsx
  src/__tests__/components/profile/experience-field.test.tsx
  src/__tests__/services/character.test.ts
  src/components/ability-cards/deck/deck.tsx
  src/components/profile/experience-field.tsx
  src/services/character.ts
Labels: test, source

.github/labeler.yml:

documentation:
  - README.md
  - docs/**/*

test:
  - src/**/*.test.*
  - src/**/*.snap
  - cypress/**/*

source:
  - src/**/*

ci:
  - .github/**/*

dependencies:
  - package-lock.json
