Repository ceva24/havenplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, ci, dependencies

.github/labeler.yml:

documentation:
  - README.md
  - docs/**/*

test:
  - src/**/*.test.*
  - src/**/*.snap
  - cypress/**/*

source:
  - src/**/*

ci:
  - .github/**/*

dependencies:
  - package-lock.json

Revert "feat: update styling of load character dialog"
  src/components/load/load-character-dialog.tsx
  src/components/load/spoiler.tsx
Labels: source

feat: use same icon size for classes and items in load character dialog
  src/components/load/spoiler.tsx
Labels: source

feat: use same icon size for classes and items in load character dialog
  src/components/load/spoiler.tsx
Labels: source

chore: update character class ids
  data/gloomhaven/classes/ch.json
  data/gloomhaven/classes/mt.json
  data/gloomhaven/classes/sc.json
  data/gloomhaven/classes/ti.json
Labels: none

feat: add basic NS data with dummy enhancements and empty perks
  data/gloomhaven/classes/ns.json
  src/loaders/character-classes.ts
Labels: source

test: update load character dialog visual test
  percy.json
Labels: none

test: add NS enhancement data
  cypress/e2e/items.spec.tsx
  cypress/e2e/profile/character-updates.spec.tsx
  cypress/e2e/profile/profile.spec.tsx
  cypress/e2e/settings/classes.spec.tsx
  cypress/e2e/settings/items.spec.tsx
  cypress/e2e/settings/settings.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
Labels: test

feat: add NS enhancement data
  data/gloomhaven/classes/ns.json
Labels: none

feat: add NS class perks
  data/gloomhaven/classes/ns.json
Labels: none

test: add e2e tests for prerequisite perks
  cypress/e2e/perks.spec.tsx
Labels: test

feat: add support for NS class (#263)
  cypress/e2e/items.spec.tsx
  cypress/e2e/perks.spec.tsx
  cypress/e2e/profile/character-updates.spec.tsx
  cypress/e2e/profile/profile.spec.tsx
  cypress/e2e/settings/classes.spec.tsx
  cypress/e2e/settings/items.spec.tsx
  cypress/e2e/settings/settings.spec.tsx
  cypress/e2e/share.spec.tsx
  cypress/support/commands.ts
  cypress/support/index.d.ts
  data/gloomhaven/classes/ch.json
  data/gloomhaven/classes/mt.json
  data/gloomhaven/classes/ns.json
  data/gloomhaven/classes/sc.json
  data/gloomhaven/classes/ti.json
  percy.json
  src/loaders/character-classes.ts
Labels: test, source

refactor: move share character components to new folder
  src/__tests__/components/settings/settings-button.test.tsx
  src/__tests__/components/share/copy-link-button.test.tsx
  src/__tests__/components/share/share-button.test.tsx
  src/__tests__/components/share/share-dialog.test.tsx
  src/components/header/header.tsx
  src/components/settings/settings-button.tsx
  src/components/settings/spoil-all-switch.tsx
  src/components/share/copy-link-button.tsx
  src/components/share/share-button.tsx
  src/components/share/share-dialog.tsx
Labels: test, source

fix: resolve issue when loading perks with non-contiguous ids
  data/gloomhaven/classes/ns.json
  src/__tests__/services/share/deserializer.test.ts
  src/services/share/deserializer.ts
Labels: test, source

fix: resolve issue when loading data for a class with non-contiguous perk ids (#264)
  data/gloomhaven/classes/ns.json
  src/__tests__/components/settings/settings-button.test.tsx
  src/__tests__/components/share/copy-link-button.test.tsx
  src/__tests__/components/share/share-button.test.tsx
  src/__tests__/components/share/share-dialog.test.tsx
  src/__tests__/services/share/deserializer.test.ts
  src/components/header/header.tsx
  src/components/settings/settings-button.tsx
  src/components/settings/spoil-all-switch.tsx
  src/components/share/copy-link-button.tsx
  src/components/share/share-button.tsx
  src/components/share/share-dialog.tsx
  src/services/share/deserializer.ts
Labels: test, source

docs: update README.md
  docs/README.md
Labels: documentation

docs: update README.md (#265)
  docs/README.md
Labels: documentation

feat: add support for showing alternative images for items
  data/gloomhaven/items.json
  src/__tests__/components/items/item-grid.test.tsx
  src/__tests__/components/items/item.test.tsx
  src/__tests__/components/items/items-autocomplete.test.tsx
  src/__tests__/components/settings/settings-button.test.tsx
  src/__tests__/create-test-fixtures.ts
  src/__tests__/services/items.test.ts
  src/__tests__/services/settings.test.ts
  src/__tests__/services/share/codec.test.ts
  src/__tests__/services/share/serializer.test.ts
  src/__tests__/services/spoiler.test.ts
  src/components/items/items-autocomplete.tsx
  src/services/share/deserializer.ts
  src/types/data.d.ts
  src/types/types.d.ts
Labels: test, source

chore: update item data with alternative image urls
  data/gloomhaven/items.json
Labels: none

feat: update item secondary ordering to be by id
  cypress/e2e/items.spec.tsx
  src/__tests__/services/items.test.ts
  src/services/items.ts
Labels: test, source

test: update visual test timeout config
  percy.json
Labels: none

feat: allow items to be toggled to alternative images
  cypress/e2e/items.spec.tsx
  src/__tests__/components/items/item.test.tsx
  src/__tests__/components/items/remove-item-button.test.tsx
  src/__tests__/create-test-fixtures.ts
  src/__tests__/services/items.test.ts
  src/components/items/item.tsx
  src/components/items/remove-item-button.tsx
  src/services/items.ts
Labels: test, source

feat: load items with alternative images active
  cypress/e2e/share.spec.tsx
  src/__tests__/create-test-fixtures.ts
  src/__tests__/services/share/codec.test.ts
  src/__tests__/services/share/deserializer.test.ts
  src/__tests__/services/share/serializer.test.ts
  src/services/share/deserializer.ts
  src/services/share/serializer.ts
  src/types/types.d.ts
Labels: test, source

test: update e2e and performance test data
  lighthouserc.json
  percy.json
Labels: none

feat: add support for alternative item images (#269)
  cypress/e2e/items.spec.tsx
  cypress/e2e/share.spec.tsx
  data/gloomhaven/items.json
  lighthouserc.json
  percy.json
  src/__tests__/components/items/item-grid.test.tsx
  src/__tests__/components/items/item.test.tsx
  src/__tests__/components/items/items-autocomplete.test.tsx
  src/__tests__/components/items/remove-item-button.test.tsx
  src/__tests__/components/settings/settings-button.test.tsx
  src/__tests__/create-test-fixtures.ts
  src/__tests__/services/items.test.ts
  src/__tests__/services/settings.test.ts
  src/__tests__/services/share/codec.test.ts
  src/__tests__/services/share/deserializer.test.ts
  src/__tests__/services/share/serializer.test.ts
  src/__tests__/services/spoiler.test.ts
  src/components/items/item.tsx
  src/components/items/items-autocomplete.tsx
  src/components/items/remove-item-button.tsx
  src/services/items.ts
  src/services/share/deserializer.ts
  src/services/share/serializer.ts
  src/types/data.d.ts
  src/types/types.d.ts
Labels: test, source

test: enable cypress retries
  cypress.config.ts
Labels: none

ci: update version of cypress github action
  .github/workflows/e2e-test.yml
Labels: ci

ci: update Cypress config (#270)
  .github/workflows/e2e-test.yml
  cypress.config.ts
Labels: ci

feat: add GH item data for prosperity 3-5
  data/gloomhaven/items.json
Labels: none

feat: add prosperity 3-5 items (#272)
  data/gloomhaven/items.json
Labels: none

feat: add basic SS class details
  cypress/e2e/settings/classes.spec.tsx
  data/gloomhaven/classes/ss.json
  src/loaders/character-classes.ts
Labels: test, source

chore: improve class spoiler switch layout in settings dialog
  src/components/settings/character-classes.tsx
  src/components/settings/settings-dialog.tsx
Labels: source

fix: resolve issue with the load character dialog not unloading correctly
  cypress/e2e/share.spec.tsx
  src/components/load/load-character-dialog.tsx
  src/hooks/use-clear-query-string.ts
  src/pages/index.tsx
Labels: test, source

feat: add SS class ability cards
  data/gloomhaven/classes/ss.json
Labels: none

feat: add SS class perks
  data/gloomhaven/classes/ss.json
Labels: none

chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies

chore: simplify tsconfig
  tsconfig.json
Labels: none

chore: update xo config and fix warnings
  .xo-config.json
  cypress/e2e/profile/character-updates.spec.tsx
  package-lock.json
  package.json
  src/__tests__/components/core/full-screen-dialog.test.tsx
  src/__tests__/components/settings/item-groups.test.tsx
  src/__tests__/services/perks/attack-modifier.test.ts
  src/components/items/item-grid.tsx
  src/components/perks/attack-modifiers.tsx
  src/services/ability-cards/enhancement.ts
  src/services/perks/attack-modifier.ts
Labels: test, source, dependencies

ci: rename visual test script
  .github/workflows/visual-test.yml
  package.json
Labels: ci

chore: add script to run cypress open
  package.json
Labels: none

build: enable noImplicitAny compiler option
  cypress/tsconfig.json
  tsconfig.json
Labels: test
