Repository ceva24/havenplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, ci, dependencies

.github/labeler.yml:

documentation:
  - README.md
  - docs/**/*

test:
  - src/**/*.test.*
  - src/**/*.snap
  - cypress/**/*

source:
  - src/**/*

ci:
  - .github/**/*

dependencies:
  - package-lock.json

feat: add enhanced card images feature flag (#300)
  .env
  .prettierignore
  .xo-config.json
  src/__tests__/client/services/ability-cards/ability-card.test.ts
  src/__tests__/client/services/ability-cards/enhancement.test.ts
  src/client/components/ability-cards/ability-card.tsx
  src/client/services/ability-cards/ability-card.ts
  src/client/services/ability-cards/enhancement.ts
Labels: test, source

feat: add SK character class
  data/gloomhaven/classes/sk.json
  src/server/loaders/gloomhaven/character-classes.ts
Labels: source

feat: add SK character class (#301)
  data/gloomhaven/classes/sk.json
  src/server/loaders/gloomhaven/character-classes.ts
Labels: source

docs: update README.md
  docs/README.md
Labels: documentation

docs: update README (#302)
  docs/README.md
Labels: documentation

feat: add QM character class
  data/gloomhaven/classes/qm.json
  src/server/loaders/gloomhaven/character-classes.ts
Labels: source

feat: add QM character class (#303)
  data/gloomhaven/classes/qm.json
  src/server/loaders/gloomhaven/character-classes.ts
Labels: source

chore: update dependencies
  package-lock.json
  package.json
Labels: dependencies

chore: update to node 18.16.1
  .nvmrc
  package-lock.json
  package.json
Labels: dependencies

chore: update cypress github action to 5.8.3
  .github/workflows/e2e-test.yml
Labels: ci

chore: update dependencies (#304)
  .github/workflows/e2e-test.yml
  .nvmrc
  package-lock.json
  package.json
Labels: ci, dependencies

feat: add PH character class
  data/gloomhaven/classes/ph.json
  src/server/loaders/gloomhaven/character-classes.ts
Labels: source

feat: add PH character class (#305)
  data/gloomhaven/classes/ph.json
  src/server/loaders/gloomhaven/character-classes.ts
Labels: source

feat: fix order of classes in character class select
  src/server/loaders/gloomhaven/character-classes.ts
Labels: source

feat: add EL character class
  data/gloomhaven/classes/el.json
  src/server/loaders/gloomhaven/character-classes.ts
Labels: source

feat: add EL character class (#306)
  data/gloomhaven/classes/el.json
  src/server/loaders/gloomhaven/character-classes.ts
Labels: source

feat: update favicon
  public/favicon.png
Labels: none

feat: update favicon (#307)
  public/favicon.png
Labels: none

fix: update EL hand size
  data/gloomhaven/classes/el.json
Labels: none

fix: update EL hand size (#308)
  data/gloomhaven/classes/el.json
Labels: none

feat: add BE character class
  data/gloomhaven/classes/be.json
  src/server/loaders/gloomhaven/character-classes.ts
Labels: source

feat: add BE character class (#309)
  data/gloomhaven/classes/be.json
  src/server/loaders/gloomhaven/character-classes.ts
Labels: source

feat: add DS character class
  data/gloomhaven/classes/ds.json
  src/server/loaders/gloomhaven/character-classes.ts
Labels: source

feat: add DS character class (#310)
  data/gloomhaven/classes/ds.json
  src/server/loaders/gloomhaven/character-classes.ts
Labels: source

feat: add beta tag
  src/client/components/header/header.tsx
Labels: source

feat: add beta tag (#311)
  src/client/components/header/header.tsx
Labels: source

feat: add SB character class
  data/gloomhaven/classes/sb.json
  src/server/loaders/gloomhaven/character-classes.ts
Labels: source

feat: add SB character class (#312)
  data/gloomhaven/classes/sb.json
  src/server/loaders/gloomhaven/character-classes.ts
Labels: source

feat: add BT character class
  data/gloomhaven/classes/bt.json
  src/server/loaders/gloomhaven/character-classes.ts
Labels: source

feat: add BT character class (#314)
  data/gloomhaven/classes/bt.json
  src/server/loaders/gloomhaven/character-classes.ts
Labels: source

feat: show SB level M cards in deck
  data/gloomhaven/classes/sb.json
  src/client/components/ability-cards/deck/deck.tsx
  src/client/services/ability-cards/deck.ts
Labels: source

test: unit tests for level M cards
  src/__tests__/client/services/ability-cards/deck.test.ts
Labels: test, source

test: add e2e tests for level M cards
  cypress/e2e/ability-cards/deck.spec.tsx
  cypress/e2e/ability-cards/hand.spec.tsx
Labels: test

feat: add support for SB unique cards (#315)
  cypress/e2e/ability-cards/deck.spec.tsx
  cypress/e2e/ability-cards/hand.spec.tsx
  data/gloomhaven/classes/sb.json
  src/__tests__/client/services/ability-cards/deck.test.ts
  src/client/components/ability-cards/deck/deck.tsx
  src/client/services/ability-cards/deck.ts
Labels: test, source

docs: add CC BY-NC-SA 4.0 licence
  docs/LICENCE.md
Labels: documentation

docs: add CC BY-NC-SA 4.0 licence (#316)
  docs/LICENCE.md
Labels: documentation

ci: add code coverage action
  .github/workflows/test.yml
Labels: ci

ci: add code coverage action (#317)
  .github/workflows/test.yml
Labels: ci

ci: add codeql analysis
  .github/workflows/codeql.yml
Labels: ci

ci: add codeql analysis (#318)
  .github/workflows/codeql.yml
Labels: ci
